<!DOCTYPE html>
<html ng-app="brainenceApp">
<head>
    <title>Brainence</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/font-awesome.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style/horizontal.css" />
    <link rel="stylesheet" href="style/main.css" />
    <link rel="stylesheet" href="style/testimonials.css" />
    <link rel="stylesheet" href="style/portfolio.css" />
    <link rel="stylesheet" href="style/contacts.css" />
    <link rel="icon" href="content/images/wsi-imageoptim-cropped-Brain1Small-1-150x150.png">

    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../lib/sly.min.js"></script>
    <script src="src/app.js"></script>

</head>
<body>
    <div id="animated-background" class="animated-background"></div>
    <header>
        <nav class="navbar main-header">
            <div class="container">
                <div class="navbar-header">
                    <a href="http://brainence.com">
                        <img class="logo" src="content/images/logo.png" />
                    </a>
                </div>
                <a data-toggle="collapse" data-target="#menu">
                    <img class="logo-menu" src="content/images/menu.png" />
                </a>
            </div>
            <ul id="menu" class="collapse nav navbar-right main-menu">
                <li><a id="menu-button-0" href="#home">Home</a></li>
                <li><a id="menu-button-1" href="#portfolio">Projects</a></li>
                <li><a id="menu-button-2" href="#testimonials">Testimonials</a></li>
                <li><a id="menu-button-3" href="#contacts">About</a></li>
            </ul>
        </nav>
    </header>
    <div id="main">
        <div class="wrap">
            <div class="frame oneperframe" id="oneperframe">
                <ul class="clearfix">
                    <li id="home">
                        <div class="page-content home-page-content">
                            <div class="homepage-details">
                                <p class="page-slogan" style="vertical-align: middle;">WE PROVIDE CUSTOM SOFTWARE DEVELOPMENT</p>
                                <div class="gradient"></div>
                                <div class="row nomargin">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="collapsible-heading" data-toggle="collapse" href="#web-app-dev" onclick="collapseInItem(0)">
                                            <div class="row">
                                                <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <img src="content/images/Web_app_Icon.png" />
                                                </div>
                                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                    <div class="home-widget-text">WEB & MOBILE DEVELOPMENT</div>
                                                </div>
                                            </div>


                                            <div id="web-app-dev" class="panel-collapse collapse panel-collapse-content-home">
                                                <div class="row">
                                                    <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                        <span class="details-home-page">Our passion is in helping you create a memorable interactive customer experience. that are designed to be actionable and engaging, Internet marketing at its finest to stimulate your users to pick up the phone and call, type out an email and enquire, or visit your premises. Our Certified Engineers and project managers will assess your needs and work with you to define your application. We can take the project from inception through to fully managed implementation and provide on-going support.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="collapsible-heading" data-toggle="collapse" href="#website-graph-design" onclick="collapseInItem(1)">
                                            <div class="row">
                                                <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <img src="content/images/website_grafic_icon.png" />
                                                </div>
                                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                    <div class="home-widget-text">WEBSITE & GRAPHICS DESIGN</div>
                                                </div>
                                            </div>

                                            <div id="website-graph-design" class="panel-collapse collapse panel-collapse-content-home">
                                                <div class="row">
                                                    <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                        <span class="details-home-page">Your website says a lot about you - make sure it communicates the right message with a unique customized design. Not sure if a professionally designed website is worth the expense? These days, you can't afford not to. With Brainence we will work within your budget and your time lines. You've come to the right place: quality and affordability are major features of all our projects.We also consult on design strategies to encourage user "stickiness" and drill through. We'll help get your users right to the data you want them to read.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="collapsible-heading" data-toggle="collapse" href="#software-development" onclick="collapseInItem(2)">
                                            <div class="row">
                                                <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <img src="content/images/Software_dev_icon.png" />
                                                </div>
                                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                    <div class="home-widget-text">DEVELOPER RESOURCES</div>
                                                </div>
                                            </div>

                                            <div id="software-development" class="panel-collapse collapse panel-collapse-content-home">
                                                <div class="row">
                                                    <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                        <span class="details-home-page">We provide a full lifecycle software development service, or we can partner with your in-house developers through an on-demand coaching and consulting service. It's not a hobby for us; our success depends on your success!  Technical Leads in our development team are Microsoft Certified Solution Developers and bring with them a rich pool of experience and talent. All our developers are qualified im Microsoft Technologies stack in front end, backend and cloud storage systems such as Azure.. As part of our .NET development, we are experts at HTML5, Javascript and AngularJS.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="collapsible-heading" data-toggle="collapse" href="#custom-programming" onclick="collapseInItem(3)">
                                            <div class="row">
                                                <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <img src="content/images/Custom_progr_icon.png" />
                                                </div>
                                                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                    <div class="home-widget-text">CUSTOM DEVELOPMENT</div>
                                                </div>
                                            </div>

                                            <div id="custom-programming" class="panel-collapse collapse panel-collapse-content-home">
                                                <div class="row">
                                                    <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                        <span class="details-home-page">As you enhance and evolve your business information infrastructure, the software solutions requirements may not entirely be fulfilled by off-the-shelf products. When products do not completely address your business needs, modifications beyond the configurable capabilities of the products are sometimes required. Together we can answer the what, who, how, and when in order to identify the best avenues to address the gap. Brainence Professional Services can be your partner to bridge these gaps through custom software development and service offerings.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="portfolio">
                        <div class="page-content" ng-controller="portfolioCtrl" ng-init="showList=true; submenu=''">
                            <div class="portfolio-page-details" ng-show="showList">
                                <div class="portfolio-header">
                                        <div class="portfolio-page-slogan">PROJECTS</div>
                                </div>
                                <div class="gradient"></div>
                                <div class="wrap">
                                    <div class="frame portfolio-frame row" id="portfolio-frame">
                                        <ul class="clearfix" id="portfolio-clearfix">
                                            <li class="portfolio-item col-sm-6 col-md-6" ng-repeat="portfolio in portfolios">
                                                <div class="portfolio-data" ng-click="SelectPortfolio($index)">
                                                    <p class="portfolio-title">{{portfolio.title}}</p>
                                                    <img class="portfolio-image grayscale" ng-src="{{portfolio.image}}"/>
                                                    <p class="portfolio-text">{{portfolio.problem | cropString}} <a href="" ng-click="SelectPortfolio($index)">...read more...</a>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <!--<img class="button-slide button-slide-left" ng-click="PrevPortfolio()" src="content/images/Switch_Button_Triangle.png" />
                                        <img class="button-slide button-slide-right" ng-click="NextPortfolio()" src="content/images/Switch_Button_Triangle.png" />-->
                                    </div>
                                    <div class="portfolio-scrollbar">
                                        <div class="portfolio-handle">
                                            <div class="portfolio-mousearea"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-page-details" ng-show="!showList" ng-init="selection='problem'">
                                <div class="portfolio-header selected-portfolio-header">
                                    <span class="portfolio-page-slogan">{{selectedPortfolio.title}}</span>
                                    
                                </div>
                                <div class="gradient"></div>
                                <div class="selected-portfolio-item row">
                                    <span class="portfolio-menu">
                                        <a class="selected-portfolio-menu selected-portfolio-menu-active" ng-click="ActivateSelectedMenu(0); selection='problem'">PROBLEM</a>  |
                                        <a class="selected-portfolio-menu" ng-click="ActivateSelectedMenu(1); selection='solution'">SOLUTION</a>  |
                                        <a class="selected-portfolio-menu" ng-click="ActivateSelectedMenu(2); selection='business'">BUSINESS</a>
                                    </span>
                                    <img class="col-sm-4 selected-portfolio-image grayscale" ng-src="{{selectedPortfolio.image}}"/>
                                    <div class="col-sm-8 selected-portfolio-details" ng-switch on="selection">
                                        <p ng-switch-when="problem" class="selected-portfolio-text">{{selectedPortfolio.problem}}</p>
                                        <p ng-switch-when="solution" class="selected-portfolio-text">{{selectedPortfolio.solution}}</p>
                                        <p ng-switch-when="business" class="selected-portfolio-text">{{selectedPortfolio.business}}</p>
                                        <p class="selected-portfolio-back-button"><a ng-click="SelectList()">Back</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="testimonials">
                        <div class="page-content" ng-controller="testimonialCtrl">
                            <div class="testimonial-page-details">
                                <div class="testimonial-header">
                                    <p class="testimonial-page-slogan">TESTIMONIALS</p>
                                </div>
                                <div class="gradient"></div>
                                <div class="wrap">
                                    <div class="frame testimonial-frame" id="testimonial-frame">
                                        <ul class="clearfix">
                                            <li class="testimonial-item" ng-repeat="testimonial in testimonials">
                                                <div class="testimonial-author">
                                                    <p>{{testimonial.author}}</p>
                                                </div>
                                                <div class="row nomargin testimonial-block">
                                                    <div class="col-sm-4 testimonial-image">
                                                        <img class="grayscale" ng-src="{{testimonial.image}}" />
                                                    </div>
                                                    <div class="col-sm-8 testimonial-data">
                                                        <div class="testimonial-details">
                                                            <p>{{testimonial.details}}</p>
                                                        </div>
                                                        <div class="testimonial-position">
                                                            <p>{{testimonial.position}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!--<img class="button-slide button-slide-left" ng-click="PrevTesimonial()" src="content/images/Switch_Button_Triangle.png" />
                                        <img class="button-slide button-slide-right" ng-click="NextTesimonial()" src="content/images/Switch_Button_Triangle.png" />-->
                                    </div>
                                    <div class="testimonial-scrollbar">
                                        <div class="testimonial-handle">
                                            <div class="testimonial-mousearea"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="contacts">
                        <div class="page-content" ng-controller="contactsCtrl">
                            <div class="contacts-page-details">
                                <div class="row"></div>
                                <div class="contacts-data">
                                    <div class="col-sm-12 col-md-12 col-lg-12 contacts nopadding">
                                        <div class="contacts-header row">
                                            <p class="contacts-page-slogan col-sm-12">CONTACTS</p>
                                            
                                        </div>
                                        <div class="gradient"></div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d82329.06373523205!2d24.04948750244141!3d49.84653022746683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34889da17265ff76!2sBrainence!5e0!3m2!1suk!2sua!4v1497349331998"
                                                id="map" frameborder="0" class="grayscale" height="500"></iframe>
                                        <p id="location">121 Bohdana Khmelnytskogo Lviv, Ukraine 79000</p>
                                        <div id="info">
                                            
                                            <a href="skype:akornytskyi?call">
                                                <img id="imageSkype" src="content/images/contacts/Skype grey.png"
                                                     onmouseover="ChangeImage('imageSkype', 'content/images/contacts/Skype .png')"
                                                     onmouseout="ChangeImage('imageSkype', 'content/images/contacts/Skype grey.png')"/>
                                            </a>
                                            <a href="tel:16465830070">
                                                <img id="imageCall" src="content/images/contacts/Call Grey.png"
                                                     onmouseover="ChangeImage('imageCall', 'content/images/contacts/Call.png')"
                                                     onmouseout="ChangeImage('imageCall', 'content/images/contacts/Call Grey.png')"/>
                                            </a>
                                            <a href="mailto:info@brainence.com">
                                                <img id="imageMail" src="content/images/contacts/Mail Grey.png"
                                                     onmouseover="ChangeImage('imageMail', 'content/images/contacts/Mail.png')"
                                                     onmouseout="ChangeImage('imageMail', 'content/images/contacts/Mail Grey.png')"/>
                                            </a>
                                            <a href="https://twitter.com/brainence" target="_blank">
                                                <img class="contacts-href" id="imageTwitter" src="content/images/contacts/m_Twitter grey.png"
                                                     onmouseover="ChangeImage('imageTwitter', 'content/images/contacts/m_Twitter.png')"
                                                     onmouseout="ChangeImage('imageTwitter', 'content/images/contacts/m_Twitter grey.png')" />
                                            </a>
                                            <a href="https://www.facebook.com/brainence/" target="_blank">
                                                <img class="contacts-href" id="imageFacebook" src="content/images/contacts/m_facebook grey.png"
                                                     onmouseover="ChangeImage('imageFacebook', 'content/images/contacts/m_Facebook .png')"
                                                     onmouseout="ChangeImage('imageFacebook', 'content/images/contacts/m_facebook grey.png')" />
                                            </a>
                                            <a href="https://www.linkedin.com/company/brainence" target="_blank">
                                                <img class="contacts-href" id="imageLinkedin" src="content/images/contacts/m_Linledin grey.png"
                                                     onmouseover="ChangeImage('imageLinkedin', 'content/images/contacts/m_LinkedIN .png')"
                                                     onmouseout="ChangeImage('imageLinkedin', 'content/images/contacts/m_Linledin grey.png')" />
                                            </a>
                                            <a href="https://www.instagram.com/brainence/" target="_blank">
                                                <img class="contacts-href" id="imageInstagram" src="content/images/contacts/m_Instagram grey.png"
                                                     onmouseover="ChangeImage('imageInstagram', 'content/images/contacts/m_Instagram.png')"
                                                     onmouseout="ChangeImage('imageInstagram', 'content/images/contacts/m_Instagram grey.png')" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 team nopadding-right">
                                        <p class="contacts-page-slogan">OUR TEAM</p>
                                        <div class="gradient"></div>

                                        <div class="row">
                                            <div class="selected-contact-item col-sm-6 col-md-6 col-lg-5 col-xl-4">
                                                <img class="grayscale" ng-src="{{selectedContact.image}}"/>
                                                <p>{{selectedContact.name}}, {{selectedContact.position}}</p>
                                            </div>

                                            <div class="contacts-items col-sm-6 col-md-6 col-lg-7 col-xl-8">
                                                <div class="wrap">
                                                    <div class="frame contacts-frame" id="contacts-frame">
                                                        <ul class="clearfix" id="contacts-clearfix">
                                                            <li class="contacts-item" ng-repeat="contact in contacts">
                                                                <img class="grayscale" ng-src="{{contact[0].image}}" ng-click="SelectContact($index,0)"/>
                                                                <img class="grayscale" ng-src="{{contact[1].image}}" ng-click="SelectContact($index,1)"/>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="contacts-scrollbar">
                                                        <div class="contacts-handle">
                                                            <div class="contacts-mousearea"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="photos row">
                                            <div class="wrap">
                                                <div class="frame photo-frame" id="photo-frame">
                                                    <ul class="clearfix" id="photo-clearfix">
                                                        <li class="photo-item" ng-repeat="photo in photos">
                                                            <img class="grayscale" ng-src="{{photo}}" data-toggle="modal" data-target="#photoModal" ng-click="OpenPhoto($index)"/>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="photo-scrollbar">
                                                    <div class="photo-handle">
                                                        <div class="photo-mousearea"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <p>Copyright © 2017 Brainence, Ltd.</p>
        </div>
        <div id="photoModal" class="modal modal-fullscreen" role="dialog" ng-controller="photosCtrl">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="photoCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item carousel-photo-item active" id="firstBootstrapImage"><div><img /></div></div>
                                <div class="item carousel-photo-item" ng-repeat="photo in photos">
                                    <div>
                                        <img ng-src="{{photo}}">
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#photoCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#photoCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <button type="button" class="close" id="button-close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="src/vendor/plugins.js"></script>
    <script src="src/testimonial.js"></script>
    <script src="src/portfolio.js"></script>
    <script src="src/contacts.js"></script>
    <script src="src/photos.js"></script>
    
    <script>
        window.onresize = function (event) {
            $('#oneperframe').sly('reload');
            $('#portfolio-frame').sly('reload');
            $('#testimonial-frame').sly('reload');
            $('#contacts-frame').sly('reload');
            $('#photo-frame').sly('reload');
            $('#portfolio-clearfix').width($('#portfolio-clearfix').width() + $('.portfolio-item').length);
            $('#contacts-clearfix').width($('#contacts-clearfix').width() + 2 * $('.contacts-item').length);
            $('#photo-clearfix').width($('#photo-clearfix').width() + 1);

        };
        window.onload = function (event) {
            $('#oneperframe').sly('reload');
            $('#portfolio-frame').sly('reload');
            $('#testimonial-frame').sly('reload');
            $('#contacts-frame').sly('reload');
            $('#photo-frame').sly('reload');
            $('#portfolio-clearfix').width($('#portfolio-clearfix').width() + $('.portfolio-item').length);
            $('#contacts-clearfix').width($('#contacts-clearfix').width() + 2 * $('.contacts-item').length);
            $('#photo-clearfix').width($('#photo-clearfix').width() + 1);
        }

        function ChangeImage(id, path) {
            $("#" + id).attr('src', path);
        };


        function collapseInItem(index) {
            $(".panel-collapse-content-home").each(function (i) { 
                if (i != index)
                    $(this).removeClass('in');
            });
        }

    </script>
</body>
</html>
