<!DOCTYPE html>
<html ng-app="brainenceApp">
<head>
    <title>Brainence</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style/horizontal.css" />
    <link rel="stylesheet" href="style/main.css" />
    <link rel="stylesheet" href="style/testimonials.css" />
    <link rel="stylesheet" href="style/portfolio.css" />
    <link rel="stylesheet" href="style/contacts.css" />

    <link rel="icon" href="content/images/wsi-imageoptim-cropped-Brain1Small-1-150x150.png">

    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="lib/sly.min.js"></script>
    <script src="src/app.js"></script>

</head>
<body>
    <div id="animated-background"></div>
    <header>
        <nav class="navbar main-header">
            <div class="container">
                <div class="navbar-header">
                    <img class="logo" src="content/images/logo.png" />
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a id="menu-button-0" href="#" onclick="activatePageNr(0)">home</a></li>
                    <li><a id="menu-button-1" href="#" onclick="activatePageNr(1)">portfolio</a></li>
                    <li><a id="menu-button-2" href="#" onclick="activatePageNr(2)">testimonial</a></li>
                    <li><a id="menu-button-3" href="#" onclick="activatePageNr(3)">team</a></li>
                    <li><a id="menu-button-4" href="#" onclick="activatePageNr(4)">contacts</a></li>
                    <li><a href="https://twitter.com/brainence" target="_blank"><img src="content/images/Twitter_icon.png" /></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="main">
        <div>
            <div class="wrap">
                <div class="frame oneperframe" id="oneperframe">
                    <ul class="clearfix">
                        <li id="home">
                            <div class="page-content">
                                <div class="homepage-details">
                                    <p class="page-slogan" style="vertical-align: middle;">LEADING EDGE STRATEGIES FOR YOUR BUSINESS</p>
                                    <div class="gradient"></div>
                                    <div class="row nomargin">
                                        <div class="col-sm-3 panel">
                                            <div class="collapsible-heading" data-toggle="collapse" href="#web-app-dev">
                                                <img src="content/images/Web_app_Icon.png" />
                                                <span class="home-widget-text">web | app development</span>
                                                <div id="web-app-dev" class="panel-collapse collapse in panel-collapse-content-home">
                                                    <span class="details-home-page">Our Certified Engineers and project managers will assess your needs and work with you to define your application. We can take the project from inception through to fully managed implementation and provide on-going support.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="collapsible-heading" data-toggle="collapse" href="#website-graph-design">
                                                <img src="content/images/website_grafic_icon.png" />
                                                <span class="home-widget-text">website and grafics design</span>
                                                <div id="website-graph-design" class="panel-collapse collapse in panel-collapse-content-home">
                                                    <span class="details-home-page">Our Certified Engineers and project managers will assess your needs and work with you to define your application. We can take the project from inception through to fully managed implementation and provide on-going support.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="collapsible-heading" data-toggle="collapse" href="#software-development">
                                                <img src="content/images/Software_dev_icon.png" />
                                                <span class="home-widget-text">software development</span>
                                                <div id="software-development" class="panel-collapse collapse in panel-collapse-content-home">
                                                    <span class="details-home-page">Our Certified Engineers and project managers will assess your needs and work with you to define your application. We can take the project from inception through to fully managed implementation and provide on-going support.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="collapsible-heading" data-toggle="collapse" href="#custom-programming">
                                                <img src="content/images/Custom_progr_icon.png" />
                                                <span class="home-widget-text">custom programming</span>
                                                <div id="custom-programming" class="panel-collapse collapse in panel-collapse-content-home">
                                                    <span class="details-home-page">Brainence is commited to the Microsoft stack , the most ____programming language on the internet. Our programmers are all Microsoft Certified Engineers  in front end, backend and cloud storage systems such as Azure.. As part of our .NET development, we also provide HTML5, Javascript and AngularJS.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="page-content" ng-controller="portfolioCtrl" ng-init="showList=true">
                                <div class="portfolio-page-details" ng-show="showList">
                                    <div class="portfolio-header">
                                        <p class="portfolio-page-slogan col-sm-6">PORTFOLIO</p>
                                        <p class="portfolio-menu col-sm-6">LATEST  |   RESENT  |  TECHNOLOGY  |  INDUSTRY</p>
                                    </div>
                                    <div class="gradient"></div>
                                    <div class="wrap">
                                        <div class="frame portfolio-frame row" id="portfolio-frame">
                                            <ul class="clearfix">
                                                <li class="portfolio-item col-sm-4" ng-repeat="portfolio in portfolios">
                                                    <div class="portfolio-data">
                                                        <p class="portfolio-title">{{portfolio.title}}</p>
                                                        <img class="portfolio-image" ng-src="{{portfolio.image}}" />
                                                        <p class="portfolio-text">{{portfolio.text | cropString}} <a href="" ng-click="SelectPortfolio($index)">...read more...</a></p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <img class="button-slide button-slide-left" ng-click="PrevPortfolio()" src="content/images/switch_button_triangle.png" />
                                            <img class="button-slide button-slide-right" ng-click="NextPortfolio()" src="content/images/switch_button_triangle.png" style="transform:rotate(180deg)" />
                                        </div>
                                        <div class="portfolio-scrollbar">
                                            <div class="portfolio-handle">
                                                <div class="portfolio-mousearea"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-page-details" ng-show="!showList">
                                    <div class="portfolio-header">
                                        <p class="portfolio-page-slogan col-sm-6">{{selectedPortfolio.title}}</p>
                                        <p class="portfolio-menu col-sm-6">LATEST  |   RESENT  |  TECHNOLOGY  |  INDUSTRY</p>
                                    </div>
                                    <div class="gradient"></div>
                                    <div class="selected-portfolio-item row">
                                        <img class="col-sm-4 selected-portfolio-image" ng-src="{{selectedPortfolio.image}}" />
                                        <div class="col-sm-8 selected-portfolio-details">
                                            <p class="selected-portfolio-menu">PROBLEM  |   SOLUTION  |  BUSSINES</p>
                                            <p class="selected-portfolio-text">{{selectedPortfolio.text}}</p>
                                            <p class="selected-portfolio-back-button"><a ng-click="SelectList()">Back</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="page-content" ng-controller="testimonialCtrl">
                                <div class="testimonial-page-details">
                                    <div class="testimonial-header row">
                                        <p class="testimonial-page-slogan col-sm-6">TESTIMONIALS</p>
                                        <p class="testimonial-menu col-sm-6">LATEST  |   RESENT</p>
                                    </div>
                                    <div class="gradient"></div>
                                    <div class="wrap">
                                        <div class="frame testimonial-frame" id="testimonial-frame">
                                            <ul class="clearfix">
                                                <li class="testimonial-item" ng-repeat="testimonial in testimonials">
                                                    <div class="row nomargin testimonial-author">
                                                        <p>{{testimonial.author}}</p>
                                                    </div>
                                                    <div class="row nomargin justify-content-between testimonial-block">
                                                        <div class="col-sm-4 testimonial-image">
                                                            <img ng-src="{{testimonial.image}}" />
                                                        </div>
                                                        <div class="col-sm-8 testimonial-data">
                                                            <div class="row nomargin testimonial-details">
                                                                <p>{{testimonial.details}}</p>
                                                            </div>
                                                            <div class="row nomargin testimonial-position">
                                                                <p>{{testimonial.position}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <img class="button-slide button-slide-left" ng-click="PrevTesimonial()" src="content/images/switch_button_triangle.png" />
                                            <img class="button-slide button-slide-right" ng-click="NextTesimonial()" src="content/images/switch_button_triangle.png" style="transform:rotate(180deg)" />
                                        </div>
                                        <div class="testimonial-scrollbar">
                                            <div class="testimonial-handle">
                                                <div class="testimonial-mousearea"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>3</li>
                        <li>
                            <div class="page-content" ng-controller="contactsCtrl">
                                <div class="contacts-page-details row">
                                    <div class="col-sm-4 contacts">
                                        <p class="contacts-page-slogan">CONTACTS</p>
                                        <div class="gradient"></div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d82329.06373523205!2d24.04948750244141!3d49.84653022746683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34889da17265ff76!2sBrainence!5e0!3m2!1suk!2sua!4v1497349331998"
                                                 id="map" frameborder="0" class="greyscale"></iframe>
                                        <p id="location">121 Bohdana Khmelnytskogo Lviv, Ukraine 79000</p>
                                        <div id="info">
                                            <div class="contacts-info">
                                                <p>Phone # +1 (847) 868 0980</p>
                                                <div class="gradient"></div>
                                            </div>
                                            <div class="contacts-info">
                                                <p>Email: info@brainence.com</p>
                                                <div class="gradient"></div>
                                            </div>
                                            <div class="contacts-info">
                                                <p>Skype: andrew.valenko</p>
                                                <div class="gradient"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 team">
                                        <p class="contacts-page-slogan">OUR TEAM</p>
                                        <div class="gradient"></div>

                                        <div class="row">
                                            <div class="selected-contact-item col-sm-6">
                                                <img class="greyscale" ng-src="{{selectedContact.image}}"/>
                                                <p>{{selectedContact.name}}  {{selectedContact.position}}</p>
                                            </div>

                                            <div class="contacts-items col-sm-6">
                                                <div class="wrap">
                                                    <div class="frame contacts-frame" id="contacts-frame">
                                                        <ul class="clearfix">
                                                            <li class="contacts-item" ng-repeat="contact in contacts">
                                                                <img class="greyscale" ng-src="{{contact.image}}" ng-click="SelectContact($index)" />
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="contacts-scrollbar">
                                                        <div class="contacts-handle">
                                                            <div class="contacts-mousearea"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="photos row">
                                            <div class="wrap">
                                                <div class="frame photo-frame" id="photo-frame">
                                                    <ul class="clearfix">
                                                        <li class="photo-item" ng-repeat="photo in photos">
                                                            <img class="greyscale" ng-src="{{photo}}" />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="photo-scrollbar">
                                                    <div class="photo-handle">
                                                        <div class="photo-mousearea"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="footer">
                        <a href="#"><img id="bullet-0" class="bullet bullet-active" src="content/images/Bullet_passive.png" onclick="activatePageNr(0)" /></a>
                        <a href="#"><img id="bullet-1" class="bullet" src="content/images/Bullet_passive.png" onclick="activatePageNr(1)" /></a>
                        <a href="#"><img id="bullet-2" class="bullet" src="content/images/Bullet_passive.png" onclick="activatePageNr(2)" /></a>
                        <a href="#"><img id="bullet-3" class="bullet" src="content/images/Bullet_passive.png" onclick="activatePageNr(3)" /></a>
                        <a href="#"><img id="bullet-4" class="bullet" src="content/images/Bullet_passive.png" onclick="activatePageNr(4)" /></a>
                        <p>Copyright © 2017 Brainence, Ltd.</p>
                    </div>
                </div>

                <div class="scrollbar">
                    <div class="handle">
                        <div class="mousearea"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="src/vendor/plugins.js"></script>
    <script src="src/horizontal.js"></script>
    <script src="src/testimonial.js"></script>
    <script src="src/portfolio.js"></script>
    <script src="src/contacts.js"></script>
    
    <script src="src/background.js"></script>
    <script>
//        $(".collapsible-heading").hover(
// function (event) {
//     var href = $(event.delegateTarget).attr('href');
//     $(href).collapse('show');
// }, function (event) {
//     var href = $(event.target).attr('href');
//     $(href).collapse('hide');
// }
//);
    </script>
</body>
</html>
