<!DOCTYPE html>
<html ng-app="brainenceApp">
<head>
    <title>Brainence</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style/horizontal.css" />
    <link rel="stylesheet" href="style/main.css" />
    <link rel="stylesheet" href="style/testimonials.css" />
    <link rel="stylesheet" href="style/portfolio.css" />
    <link rel="stylesheet" href="style/contacts.css" />
    <link rel="stylesheet" href="style/career.css" />
    <link rel="stylesheet" href="style/partnership.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="icon" href="content/images/wsi-imageoptim-cropped-Brain1Small-1-150x150.png">

    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="lib/sly.min.js"></script>
    <script src="src/app.js"></script>

    <script type="text/javascript">
        if (screen.width <= 1023) {
            //alert('opening mobile version');
            location.replace("http://194.44.161.226:753/brainence_dev/m/");
        } else

            if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
                //alert('opening mobile version');
                location.replace("http://194.44.161.226:753/brainence_dev/m/");
            }
    </script>
</head>
<body>
    <div id="animated-background"></div>
    <header>
        <nav class="navbar main-header">
            <div class="container">
                <div class="navbar-header">
                    <a href="http://brainence.com">
                        <img class="logo" src="content/images/logo.png" />
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right main-menu">
                    <li><a id="menu-button-0" href="" onclick="activatePageNr(0)" class="menu-active">Home</a></li>
                    <li><a id="menu-button-1" href="" onclick="activatePageNr(1)">Projects</a></li>
                    <li><a id="menu-button-2" href="" onclick="activatePageNr(2)">Feedback</a></li>
                    <li><a id="menu-button-3" href="" onclick="activatePageNr(3)">About</a></li>
                    <li><a id="menu-button-4" href="" onclick="activatePageNr(4)">Career</a></li>
                    <li><a id="menu-button-5" href="" onclick="activatePageNr(5)">Partnership</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="main">
        <div class="wrap">
            <div class="frame oneperframe" id="oneperframe">
                <ul class="clearfix">
                    <li id="home">
                        <div class="page-content home-page-content">
                            <div class="homepage-details">
                                <p class="page-slogan" style="vertical-align: middle;">LEADING EDGE STRATEGIES FOR YOUR BUSINESS</p>
                                <div class="gradient"></div>
                                <div class="row nomargin">
                                    <div class="col-sm-3 panel">
                                        <div class="collapsible-heading" data-toggle="collapse" href="#web-app-dev">
                                            <img src="content/images/Web_app_Icon.png" />
                                            <span class="home-widget-text">WEB & MOBILE APP DESIGN</span>
                                            <div id="web-app-dev" class="panel-collapse collapse panel-collapse-content-home">
                                                <span class="details-home-page">Our passion is in helping you create a memorable interactive customer experience. that are designed to be actionable and engaging, Internet marketing at its finest to stimulate your users to pick up the phone and call, type out an email and enquire, or visit your premises. Our Certified Engineers and project managers will assess your needs and work with you to define your application. We can take the project from inception through to fully managed implementation and provide on-going support.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="collapsible-heading" data-toggle="collapse" href="#website-graph-design">
                                            <img src="content/images/website_grafic_icon.png" />
                                            <span class="home-widget-text">WEBSITE & GRAPHICS DESIGN</span>
                                            <div id="website-graph-design" class="panel-collapse collapse panel-collapse-content-home">
                                                <span class="details-home-page">Your website says a lot about you - make sure it communicates the right message with a unique customized design. Not sure if a professionally designed website is worth the expense? These days, you can't afford not to. With Brainence we will work within your budget and your time lines. You've come to the right place: quality and affordability are major features of all our projects.We also consult on design strategies to encourage user "stickiness" and drill through. We'll help get your users right to the data you want them to read.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="collapsible-heading" data-toggle="collapse" href="#software-development">
                                            <img src="content/images/Software_dev_icon.png" />
                                            <span class="home-widget-text">DEVELOPER RESOURCES</span>
                                            <div id="software-development" class="panel-collapse collapse panel-collapse-content-home">
                                                <span class="details-home-page">We provide a full lifecycle software development service, or we can partner with your in-house developers through an on-demand coaching and consulting service. It's not a hobby for us; our success depends on your success!  Technical Leads in our development team are Microsoft Certified Solution Developers and bring with them a rich pool of experience and talent. All our developers are qualified im Microsoft Technologies stack in front end, backend and cloud storage systems such as Azure.. As part of our .NET development, we are experts at HTML5, Javascript and AngularJS.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="collapsible-heading" data-toggle="collapse" href="#custom-programming">
                                            <img src="content/images/Custom_progr_icon.png" />
                                            <span class="home-widget-text">CUSTOM DEVELOPMENT</span>
                                            <div id="custom-programming" class="panel-collapse collapse panel-collapse-content-home">
                                                <span class="details-home-page">As you enhance and evolve your business information infrastructure, the software solutions requirements may not entirely be fulfilled by off-the-shelf products. When products do not completely address your business needs, modifications beyond the configurable capabilities of the products are sometimes required. Together we can answer the what, who, how, and when in order to identify the best avenues to address the gap. Brainence Professional Services can be your partner to bridge these gaps through custom software development and service offerings.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="portfolio">
                        <div class="page-content" ng-controller="portfolioCtrl" ng-init="showList=true; submenu=''">
                            <div class="portfolio-page-details" ng-show="showList">
                                <div class="portfolio-header">
                                    <div class="col-sm-5">
                                        <span class="portfolio-page-slogan">PORTFOLIO</span>
                                        <span class="portfolio-menu">
                                            <a class="portfolio-menu-item portfolio-menu-item-active" ng-click="SortByDate(); ActivateMenu(0); submenu='latest'">LATEST</a>  |
                                            <a class="portfolio-menu-item portfolio-menu-item-active" ng-click="ActivateMenu(1); submenu='technology'">TECHNOLOGY</a>  |
                                            <a class="portfolio-menu-item portfolio-menu-item-active" ng-click="ActivateMenu(2); submenu='industry'">INDUSTRY</a>
                                        </span>
                                    </div>
                                    <p class="portfolio-menu col-sm-7" id="portfolio-submenu" ng-switch on="submenu">
                                        <span ng-switch-when="technology" ng-repeat="item in submenuTechnologies">
                                            <a class="portfolio-submenu-item portfolio-submenu-item-active" ng-click="ActivateSubmenu($index); ShowTechnology(item)">{{item}}</a>
                                        </span>
                                        <span ng-switch-when="industry" ng-repeat="item in submenuIndustries">
                                            <a class="portfolio-submenu-item portfolio-submenu-item-active" ng-click="ActivateSubmenu($index); ShowIndustry(item)">{{item}}</a>
                                        </span>
                                    </p>
                                </div>
                                <div class="gradient"></div>
                                <div class="wrap">
                                    <div class="frame portfolio-frame row" id="portfolio-frame">
                                        <ul class="clearfix" id="portfolio-clearfix">
                                            <li class="portfolio-item col-sm-4" ng-repeat="portfolio in portfolios">
                                                <div class="portfolio-data">
                                                    <p class="portfolio-title">{{portfolio.title}}</p>
                                                    <img class="portfolio-image grayscale" ng-src="{{portfolio.image}}" />
                                                    <p class="portfolio-text">{{portfolio.problem | cropString}} <a href="" ng-click="SelectPortfolio($index)">...read more...</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                        <img class="button-slide button-slide-left" ng-click="PrevPortfolio()" src="content/images/switch_button_triangle.png" />
                                        <img class="button-slide button-slide-right" ng-click="NextPortfolio()" src="content/images/switch_button_triangle.png" />
                                    </div>
                                    <div class="portfolio-scrollbar">
                                        <div class="portfolio-handle">
                                            <div class="portfolio-mousearea"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-page-details" ng-show="!showList" ng-init="selection='problem'">
                                <div class="portfolio-header selected-portfolio-header">
                                    <span class="portfolio-page-slogan">{{selectedPortfolio.title}}</span>
                                    <span class="portfolio-menu">
                                        <a class="selected-portfolio-menu selected-portfolio-menu-active" ng-click="ActivateSelectedMenu(0); selection='problem'">PROBLEM</a>  |
                                        <a class="selected-portfolio-menu" ng-click="ActivateSelectedMenu(1); selection='solution'">SOLUTION</a>  |
                                        <a class="selected-portfolio-menu" ng-click="ActivateSelectedMenu(2); selection='business'">BUSINESS</a>
                                    </span>
                                </div>
                                <div class="gradient"></div>
                                <div class="selected-portfolio-item row">
                                    <img class="col-sm-4 selected-portfolio-image grayscale" ng-src="{{selectedPortfolio.image}}" />
                                    <div class="col-sm-8 selected-portfolio-details" ng-switch on="selection">
                                        <p ng-switch-when="problem" class="selected-portfolio-text">{{selectedPortfolio.problem}}</p>
                                        <p ng-switch-when="solution" class="selected-portfolio-text">{{selectedPortfolio.solution}}</p>
                                        <p ng-switch-when="business" class="selected-portfolio-text">{{selectedPortfolio.business}}</p>
                                        <p class="selected-portfolio-back-button"><a ng-click="SelectList()">Back</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="testimonials">
                        <div class="page-content" ng-controller="testimonialCtrl">
                            <div class="testimonial-page-details">
                                <div class="testimonial-header">
                                    <p class="testimonial-page-slogan">TESTIMONIALS</p>
                                </div>
                                <div class="gradient"></div>
                                <div class="wrap">
                                    <div class="frame testimonial-frame" id="testimonial-frame">
                                        <ul class="clearfix">
                                            <li class="testimonial-item" ng-repeat="testimonial in testimonials">
                                                <div class="testimonial-author">
                                                    <p>{{testimonial.author}}</p>
                                                </div>
                                                <div class="row nomargin testimonial-block">
                                                    <div class="col-sm-4 testimonial-image">
                                                        <img class="grayscale" ng-src="{{testimonial.image}}" />
                                                    </div>
                                                    <div class="col-sm-8 testimonial-data">
                                                        <div class="testimonial-details">
                                                            <p>{{testimonial.details}}</p>
                                                        </div>
                                                        <div class="testimonial-position">
                                                            <p>{{testimonial.position}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <img class="button-slide button-slide-left" ng-click="PrevTesimonial()" src="content/images/switch_button_triangle.png" />
                                        <img class="button-slide button-slide-right" ng-click="NextTesimonial()" src="content/images/switch_button_triangle.png" />
                                    </div>
                                    <div class="testimonial-scrollbar">
                                        <div class="testimonial-handle">
                                            <div class="testimonial-mousearea"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="contacts">
                        <div class="page-content" ng-controller="contactsCtrl">
                            <div class="contacts-page-details">
                                <div class="contacts-data row">
                                    <div class="col-xs-4 col-sm-4 contacts nopadding">
                                        <div class="contacts-header row">
                                            <p class="contacts-page-slogan col-sm-4 col-xs-4">CONTACTS</p>
                                            <div class="col-sm-8 col-xs-8">
                                                <a href="https://twitter.com/brainence" target="_blank">
                                                    <img class="contacts-href" id="imageTwitter" src="content/images/contacts/Twitter grey.png"
                                                         onmouseover="ChangeImage('imageTwitter', 'content/images/contacts/Twitter.png')"
                                                         onmouseout="ChangeImage('imageTwitter', 'content/images/contacts/Twitter grey.png')" />
                                                </a>
                                                <a href="https://www.facebook.com/brainence/" target="_blank">
                                                    <img class="contacts-href" id="imageFacebook" src="content/images/contacts/facebook grey.png"
                                                         onmouseover="ChangeImage('imageFacebook', 'content/images/contacts/Facebook .png')"
                                                         onmouseout="ChangeImage('imageFacebook', 'content/images/contacts/facebook grey.png')" />
                                                </a>
                                                <a href="https://www.linkedin.com/company/brainence" target="_blank">
                                                    <img class="contacts-href" id="imageLinkedin" src="content/images/contacts/Linledin grey.png"
                                                         onmouseover="ChangeImage('imageLinkedin', 'content/images/contacts/LinkedIN .png')"
                                                         onmouseout="ChangeImage('imageLinkedin', 'content/images/contacts/Linledin grey.png')" />
                                                </a>
                                                <a href="https://www.instagram.com/brainence/" target="_blank">
                                                    <img class="contacts-href" id="imageInstagram" src="content/images/contacts/Instagram grey.png"
                                                         onmouseover="ChangeImage('imageInstagram', 'content/images/contacts/Instagram.png')"
                                                         onmouseout="ChangeImage('imageInstagram', 'content/images/contacts/Instagram grey.png')" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="gradient gradient-13"></div>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d82329.06373523205!2d24.04948750244141!3d49.84653022746683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34889da17265ff76!2sBrainence!5e0!3m2!1suk!2sua!4v1497349331998"
                                                id="map" frameborder="0" class="grayscale" height="292"></iframe>
                                        <p id="location">121 Bohdana Khmelnytskogo Lviv, Ukraine 79000</p>
                                        <div id="info">
                                            <a href="skype:akornytskyi?call">
                                                <img id="imageSkype" src="content/images/contacts/Skype grey.png"
                                                     onmouseover="ChangeImage('imageSkype', 'content/images/contacts/Skype .png')"
                                                     onmouseout="ChangeImage('imageSkype', 'content/images/contacts/Skype grey.png')" />
                                            </a>
                                            <a href="tel:16465830070">
                                                <img id="imageCall" src="content/images/contacts/Call Grey.png"
                                                     onmouseover="ChangeImage('imageCall', 'content/images/contacts/Call.png')"
                                                     onmouseout="ChangeImage('imageCall', 'content/images/contacts/Call Grey.png')" />
                                            </a>
                                            <a href="mailto:info@brainence.com">
                                                <img id="imageMail" src="content/images/contacts/Mail Grey.png"
                                                     onmouseover="ChangeImage('imageMail', 'content/images/contacts/Mail.png')"
                                                     onmouseout="ChangeImage('imageMail', 'content/images/contacts/Mail Grey.png')" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 team nopadding-right">
                                        <p class="contacts-page-slogan">OUR TEAM</p>
                                        <div class="gradient gradient-23"></div>

                                        <div class="row">
                                            <div class="selected-contact-item col-sm-6 col-xs-6">
                                                <img class="grayscale" ng-src="{{selectedContact.image}}" />
                                                <p>{{selectedContact.name}}, {{selectedContact.position}}</p>
                                            </div>

                                            <div class="contacts-items col-sm-6 col-xs-6">
                                                <div class="wrap">
                                                    <div class="frame contacts-frame" id="contacts-frame">
                                                        <ul class="clearfix" id="contacts-clearfix">
                                                            <li class="contacts-item" ng-repeat="contact in contacts">
                                                                <img class="grayscale" ng-src="{{contact[0].image}}" ng-click="SelectContact($index,0)" />
                                                                <img class="grayscale" ng-src="{{contact[1].image}}" ng-click="SelectContact($index,1)" />
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="contacts-scrollbar">
                                                        <div class="contacts-handle">
                                                            <div class="contacts-mousearea"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="photos row">
                                            <div class="wrap">
                                                <div class="frame photo-frame" id="photo-frame">
                                                    <ul class="clearfix" id="photo-clearfix">
                                                        <li ng-repeat="photo in photos">
                                                            <img class="grayscale photo-item" ng-src="{{photo}}" data-toggle="modal" data-target="#photoModal" ng-click="OpenPhoto($index)" />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="photo-scrollbar">
                                                    <div class="photo-handle">
                                                        <div class="photo-mousearea"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="career">
                        <div class="page-content" ng-controller="careerCtrl" ng-init="showList=true">
                            <div class="career-page-details" ng-show="showList">
                                <div class="career-header">
                                    <span class="career-page-slogan">CAREER</span>
                                    <span class="career-menu">
                                        <a class="career-menu-item career-menu-item-active" ng-click="ActivateMenuCareer(0); ShowAllCareer();">ALL</a>  |
                                        <a class="career-menu-item" ng-click="ActivateMenuCareer(1,'sales_marketing'); submenu='sales_marketing'">SALES MARKETING</a>  |
                                        <a class="career-menu-item" ng-click="ActivateMenuCareer(2,'hr'); submenu='hr'">HR</a>  |
                                        <a class="career-menu-item" ng-click="ActivateMenuCareer(3,'administrative'); submenu='administrative'">ADMINISTRATIVE</a> |
                                        <a class="career-menu-item" ng-click="ActivateMenuCareer(4,'tech'); submenu='tech'">TECH</a>
                                    </span>
                                </div>
                                <div class="gradient"></div>
                                <div class="wrap">
                                    <div class="frame career-frame row" id="career-frame">
                                        <ul class="clearfix" id="career-clearfix">
                                            <li class="col-sm-4" ng-repeat="career in careers" ng-click="SelectCareer($index)">
                                                <div class="career-item grayscale">
                                                    <div>
                                                        <p class="position-key">
                                                            {{career.positionKey}}
                                                        </p>
                                                        <p class="position-value">
                                                            {{career.positionValue}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <img class="button-slide button-slide-left" ng-click="PrevCareer()" src="content/images/switch_button_triangle.png" />
                                        <img class="button-slide button-slide-right" ng-click="NextCareer()" src="content/images/switch_button_triangle.png" />
                                    </div>
                                    <div class="career-scrollbar">
                                        <div class="career-handle">
                                            <div class="career-mousearea"></div>
                                        </div>
                                    </div>
                                </div>
                                <p id="our-career">
                                    Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon. Actually beard single-origin coffee, twee 90's PBR Echo Park sartorial try-hard freegan Portland ennui. Selvage jean shorts 90's, Vice American Apparel try-hard food truck Shoreditch fap lomo Wes Anderson. Art party Thundercats High Life Tumblr, sartorial vinyl deep v fixie McSweeney's fap tousled Intelligentsia mumblecore. Deep v twee +1, roof party narwhal Cosby salvia kitsch before they sold out High Life.
                                </p>
                            </div>
                            <div class="career-page-details" ng-show="!showList">
                                <div class="career-header">
                                    <span class="career-page-slogan">CAREER</span>
                                </div>
                                <div class="gradient"></div>
                                <div class="selected-career-item row nomargin justify-content-between">
                                    <div class="career-item grayscale col-xs-4 nomargin" id="selected-career-image">
                                        <div>
                                            <p class="position-key">
                                                {{selectedCareer.positionKey}}
                                            </p>
                                            <p class="position-value">
                                                {{selectedCareer.positionValue}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 selected-career-details nopadding-right pull-right">
                                        <div id="selectedCareer"></div>
                                        <p class="selected-career-back-button"><a ng-click="SelectList()">Back</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id="partnership">

                        <div class="page-content" ng-controller="partnershipCtrl">
                            <div class="portfolio-page-details">
                                <div class="portfolio-header">
                                    <div class="col-sm-6">
                                        <span class="portfolio-page-slogan">PARTNERSHIP</span>
                                        <span class="portfolio-menu">
                                            <a class="partnership-menu-item partnership-menu-item-active" ng-click="showallianceCooperation(); ActivateMenu(0);">ALLIANCE COOPERATION</a>  |
                                            <a class="partnership-menu-item" ng-click="showDirectCooperation(); ActivateMenu(1);">DIRECT COOPERATION</a>
                                        </span>
                                    </div>

                                </div>
                                <div class="gradient"></div>
                                <div class="wrap">
                                    <div class="frame partnership-frame row justify-content-between" id="partnership-frame">
                                        <ul class="clearfix" id="allianceCooperationContent">
                                            <li class="partnership-item col-sm-4 nomargin">
                                                <div class="partnership-data">
                                                    <img class="partnership-image grayscale" src="content/images/partnership/1_icon.png" />
                                                    <p class="partnership-item-header">
                                                        Alliance Cooperation
                                                    </p>
                                                    <p class="partnership-text">The coop partnership model offers a solution for small and mid-sized firms that want to remain independent. You remain in the front line as a Brand to name the price, while we become your Outsourced Tech Department! The Coop Partner can be either for one specific project only, or a continuing business relationship.</p>
                                                </div>
                                            </li>
                                            <li class="partnership-item col-sm-4 nomargin">
                                                <div class="partnership-data">
                                                    <img class="partnership-image grayscale" src="content/images/partnership/2_icon.png" />
                                                    <p class="partnership-item-header">
                                                        Potential issues:
                                                    </p>
                                                    <p class="partnership-text">
                                                        • One partner might under-deliver due to focus on its own bottom line<br />
                                                        • If chosen for its expertise, the partner might take advantage of its situation<br />
                                                        • could become a competitor in the long run or possibly try to take over the other company<br />
                                                        • Possible culture barriers, ego & ideology clashes
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="partnership-item partnership-last-item col-sm-4 nomargin">
                                                <div class="partnership-data">
                                                    <img class="partnership-image grayscale" src="content/images/partnership/3_icon.png" />
                                                    <p class="partnership-item-header">
                                                        Benefits:
                                                    </p>
                                                    <p class="partnership-text">
                                                        • Greater service capabilities, focus on adding value<br />
                                                        • Increased business opportunities and reach<br />
                                                        • Pooling/sharing resources and ideas<br />
                                                        • Common long-term strategy and goals<br />
                                                        • Executive and senior management exchange (BOD?)<br />
                                                        • High level of transparency between partners<br />
                                                        • Domain expertise knowledge exchange
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>

                                        <ul class="clearfix" style="display: none;" id="directCooperationContent">
                                            <li class="partnership-item col-sm-4 nomargin">
                                                <div class="partnership-data">
                                                    <img class="partnership-image grayscale" src="content/images/partnership/1_icon.png" />
                                                    <p class="partnership-item-header">
                                                        Direct Cooperation
                                                    </p>
                                                    <p class="partnership-text">A commission based partnership model where Independent operator distributes Brainence services. Referring Partner operates their own business and is granted with a 10% commission from each invoice paid by the client to Brainence.</p>
                                                </div>
                                            </li>
                                            <li class="partnership-item col-sm-4 nomargin">
                                                <div class="partnership-data">
                                                    <img class="partnership-image grayscale" src="content/images/partnership/4_icon.png" />
                                                    <p class="partnership-item-header">
                                                        Potential issues:
                                                    </p>
                                                    <p class="partnership-text">
                                                        • Quality<br />
                                                        • Lack of Motivation<br />
                                                        • Keeping Secrets<br />
                                                        • Ethical, Legal<br />
                                                        • Who is the owner?
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="partnership-item partnership-last-item col-sm-4 nomargin">
                                                <div class="partnership-data">
                                                    <img class="partnership-image grayscale" src="content/images/partnership/3_icon.png" />
                                                    <p class="partnership-item-header">
                                                        Benefits:
                                                    </p>
                                                    <p class="partnership-text">
                                                        • Мinimal investment required with lower risks<br />
                                                        • Сheaper access to market than direct ownership<br />
                                                        • Quicker new market penetration<br />
                                                        • Processes and management practices<br />
                                                        • First step to something more?
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
                <div class="footer">
                    <!--<a href="#"><img id="bullet-0" class="bullet bullet-active" src="content/images/Bullet_passive.png" onclick="activatePageNr(0)" /></a>
                    <a href="#"><img id="bullet-1" class="bullet" src="content/images/Bullet_passive.png" onclick="activatePageNr(1)" /></a>
                    <a href="#"><img id="bullet-2" class="bullet" src="content/images/Bullet_passive.png" onclick="activatePageNr(2)" /></a>
                    <a href="#"><img id="bullet-3" class="bullet" src="content/images/Bullet_passive.png" onclick="activatePageNr(3)" /></a>
                    <a href="#"><img id="bullet-4" class="bullet" src="content/images/Bullet_passive.png" onclick="activatePageNr(4)" /></a>
                    <a href="#"><img id="bullet-5" class="bullet" src="content/images/Bullet_passive.png" onclick="activatePageNr(5)" /></a>-->
                    <p>Copyright © 2017 Brainence, Ltd.</p>
                </div>
            </div>
            <div class="scrollbar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>
        </div>
        <div id="photoModal" class="modal modal-fullscreen" role="dialog" ng-controller="photosCtrl">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="photoCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item carousel-photo-item active" ng-repeat="photo in photos">
                                    <div>
                                        <img ng-src="{{photo}}">
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#photoCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#photoCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <button type="button" class="close" id="button-close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="src/vendor/plugins.js"></script>
    <script src="src/horizontal.js"></script>
    <script src="src/testimonial.js"></script>
    <script src="src/portfolio.js"></script>
    <script src="src/contacts.js"></script>
    <script src="src/photos.js"></script>
    <script src="src/career.js"></script>
    <script src="src/partnership.js"></script>
    <script src="src/background.js"></script>
    <script>
        window.onresize = function (event) {
            $('#oneperframe').sly('reload');
            $('#portfolio-frame').sly('reload');
            $('#testimonial-frame').sly('reload');
            $('#contacts-frame').sly('reload');
            $('#photo-frame').sly('reload');
            $('#career-frame').sly('reload');
            $('#portfolio-clearfix').width($('#portfolio-clearfix').width() + 2 * $('.portfolio-item').length);
            $('#contacts-clearfix').width($('#contacts-clearfix').width() + 2 * $('.contacts-item').length);
            $('#photo-clearfix').width($('#photo-clearfix').width() + 2 * $('.photo-item').length);
            $('#career-clearfix').width($('#career-clearfix').width() +100+ 2 * $('.career-item').length);

        };
        window.onload = function (event) {
            if (history.state != undefined) {
                status = 1;
                $('#oneperframe').sly('activate', state);
                openPage(history.state);
                status = 0;
            }

            $('#oneperframe').sly('reload');
            $('#portfolio-frame').sly('reload');
            $('#testimonial-frame').sly('reload');
            $('#contacts-frame').sly('reload');
            $('#photo-frame').sly('reload');
            $('#career-frame').sly('reload');
            $('#portfolio-clearfix').width($('#portfolio-clearfix').width() + 2 * $('.portfolio-item').length);
            $('#contacts-clearfix').width($('#contacts-clearfix').width() + 2 * $('.contacts-item').length);
            $('#photo-clearfix').width($('#photo-clearfix').width() + 2 * $('.photo-item').length);
            $('#career-clearfix').width($('#career-clearfix').width() + 100 + 2 * $('.career-item').length);
        };

        function ChangeImage(id, path) {
            $("#" + id).attr('src', path);
        };

        window.onpopstate = function (event) {
            state = event.state!=null?event.state:0;
            status = 1;
            $('#oneperframe').sly('activate', state);
            openPage(state);
            status = 0;
        };
    </script>
</body>
</html>
