
.contacts-page-details{
    margin-top:10%;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 24px;
}

.contacts-page-slogan {
    font-family: Roboto;
    font-size: 27px;
    font-stretch: condensed;
    text-align: left;
}

#map {
    height: 292px;
    width: 100%;
    padding-top: 45px;
}

#location {
    font-family: BauhausC;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.69;
    color: #ddd;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 5px;
}

#info {
    text-align:left;
    font-size: 24px !important;
}

.contacts-info {
    display: inline-block;
}

.contacts-info p{
    font-family: Roboto;
    font-size: 24px !important;
    font-stretch: condensed;
    line-height: 2.13;
    color: #ffffff;
    margin: 0px;
    padding: 0px
}