
.contacts {
    padding-right:25px;
}

.team {
    padding-left:25px;
}


.contacts-page-details{
    margin-top:8%;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 24px;
}

.contacts-page-slogan {
    font-family: Roboto;
    font-size: 27px;
    font-stretch: condensed;
    text-align: left;
}

#map {
    height: 292px;
    width: 100%;
    margin-top: 45px;
}

#location {
    font-family: BauhausC;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.69;
    color: #ddd;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 5px;
}

#info {
    text-align:left;
    font-size: 24px !important;
}

.contacts-info {
    display: inline-block;
}

.contacts-info p{
    font-family: Roboto;
    font-size: 24px !important;
    font-stretch: condensed;
    line-height: 2.13;
    color: #ffffff;
    margin: 0px;
    padding: 0px
}



.contacts-items{
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right; 
    text-align: -ms-right;
}

.contacts-frame {
    height: 292px !important;
    margin: 0px;
    margin-top: 45px;
    text-align:right !important;
    width:350px;
}

.contacts-frame .clearfix {
}

.contacts-item {
    padding: 0px;
    text-align:right !important;
    width: 175px !important;
    height: 146px !important;
    padding:0px;
    margin:0px;
}

.contacts-item img {
    width: 175px;
    height: 146px;
}



.selected-contact-item {
    margin-top: 45px;
    margin-right:0px;
    padding-right:0px;
    text-align: left;
}

.selected-contact-item img {
    height:292px;
}

.selected-contact-item p {
    font-family: BauhausC;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 11px;
}






.photos {
    margin: 0px;
    margin-top: 30px;
    text-align: left;
}

#photo-frame {
    height: 180px;
}

.photo-item {
    width: auto !important;
}

.photo-item img {
    height: 180px;
}




.greyscale {
    -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
}

.greyscale:hover {
  -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
}