
#game {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -300px;
    z-index: 1;
}

#world {
    cursor: crosshair;
    background-color: #111111;
    border: 6px #333333 solid;
    border-radius: 4px;
    display: none;
}

#about {
    border: none;
    padding-left: 0;
}

    #about p {
        font-size: 12px;
        margin-bottom: 5px;
        letter-spacing: 0.05em;
    }

        #about p.credits {
            color: #666;
            font-size: 11px;
            margin: 15px 0 2px 0;
            line-height: 1.4em;
            font-style: italic;
        }

    #about a:hover {
        padding: 2px 10px 2px 8px;
    }

#legend {
    padding-right: 10px;
}

    #legend ul {
        float: left;
        margin-right: 20px;
    }

        #legend ul li {
            margin: 2px 0 10px 0;
            clear: both;
        }

            #legend ul li span {
                display: block;
                width: 20px;
                height: 20px;
                padding: 4px 0 0 0px;
                text-align: center;
                margin: -3px 4px 0 0;
                float: left;
                font-size: 10px;
            }

            #legend ul li.player span {
                background-position: 0px -138px;
            }

            #legend ul li.enemy span {
                background-position: 0px -115px;
            }

            #legend ul li.life-up span {
                background-position: 0px 0px;
            }

            #legend ul li.shield span {
                background-position: 0px -23px;
            }

            #legend ul li.gravity-field span {
                background-position: 0px -46px;
            }

            #legend ul li.time-warp span {
                background-position: 0px -69px;
            }

            #legend ul li.minimize-dots span {
                background-position: 0px -92px;
            }

#share {
    position: absolute;
    top: 7px;
    right: 15px;
}

    #share iframe,
    #share div {
        margin: 0 4px;
        display: inline-block;
    }

#facebook-button {
    position: relative;
    top: 1px;
}

#retweet-button {
}

#flattr-button {
    width: 110px;
    height: 20px;
}

#follow-button {
    width: 120px;
}

#settings {
}

    #settings ul li {
        margin: 5px 0;
    }

#affiliation {
}

    #affiliation img {
        margin-top: 4px;
    }

    #affiliation a {
        padding: 0px;
    }

        #affiliation a:hover {
            padding: 0px;
        }

/**
 * Shared for game UI.
 */
div.ui {
    font-family: 'Roboto';
    font-size: 14px;
    color: #999999;
    text-align: left;
    padding: 8px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    float: left;
}


#close_button_parrent {
    width: 1000px;
    height: 30px;
    position: absolute;
    z-index: 3;
}

    #close_button_parrent span {
        float: right;
    }

#close_game_button {
    float: right;
    font-size: 40px;
    color: white;
}


    #close_game_button:hover {
        text-decoration: none;
        cursor: pointer;
    }

#game-status {
    width: 1000px;
    height: 30px;
    padding: 8px;
    display: none;
    position: absolute;
    z-index: 2;
}

    #game-status span {
        color: #bbbbbb;
        font-weight: bold;
        margin-right: 5px;
    }

    #game-status .fps {
        float: right;
        margin-right: 30px;
    }



/**
 * Game Panels
 */
#game-panels {
    width: 1000px;
    position: absolute;
    z-index: 3;
    display: none;
}

    #game-panels div.ui h2 {
        margin-bottom: 20px;
        color: #eeeeee;
    }

    #game-panels div.ui ul.instructions {
        margin: 10px 0;
    }

        #game-panels div.ui ul.instructions li {
            margin: 0 0 2px 0;
        }

    #game-panels div.ui #level-selector {
        margin: 20px 0;
        font-size: 14px;
    }


        #game-panels div.ui #level-selector ul.levels {
            margin: 10px 0;
            display: inline;
            padding: 4px;
        }

            #game-panels div.ui #level-selector ul.levels li {
                display: inline;
                margin: 1px;
                padding: 5px;
                background-color: #333;
                cursor: pointer;
                border-radius: 1px;
                color: #fff;
                transition: all .1s ease-out;
                -o-transition: all .1s ease-out;
                -moz-transition: all .1s ease-out;
                -webkit-transition: all .1s ease-out;
            }

                #game-panels div.ui #level-selector ul.levels li.unlocked:hover {
                    background: #555;
                }

                #game-panels div.ui #level-selector ul.levels li.selected {
                    cursor: default;
                    background: #bb2222;
                    padding: 5px 9px;
                }

                #game-panels div.ui #level-selector ul.levels li.locked {
                    opacity: 0.5;
                    cursor: default;
                    color: #555;
                }

    #game-panels div.ui a {
        outline: none;
        font-family: 'Roboto';
        font-size: 38px;
        text-decoration: none;
        color: #bbbbbb;
        padding: 2px;
        display: block;
        transition: all .18s linear;
        -o-transition: all .18s linear;
        -moz-transition: all .18s linear;
        -webkit-transition: all .18s linear;
        text-align: center;
    }

        #game-panels div.ui a:hover {
            color: #ffffff;
            background-color: #000000;
            transition: all .18s linear;
            -o-transition: all .18s linear;
            -moz-transition: all .18s linear;
            -webkit-transition: all .18s linear;
        }

#message {
    padding: 16px;
    margin-top: 10px;
}
