@font-face {
    font-family: 'Roboto';
    src: url('../content/fonts/RobotoCondensed-Regular.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'BauhausC';
    src: url('../content/fonts/BauhausC-Light.ttf');
    font-weight: 200;
}

.logo {
    /*height: 30px;*/
    margin-top: 15px;
}

.main-header {
    background: black;
}

.navbar {
    margin-bottom: 0px !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent !important;
}

.nav > li > a {
    color: white;
}

    .nav > li > a:active, .nav > li > a:hover {
        color: #FF6B00;
    }

.page-content {
    margin: 0 auto;
    width: 1150px;
    height: calc(100vh - 63px);
}

.page-slogan {
    font-size: 52px;
    color: #ffffff;
    letter-spacing: 3.1px;
    margin-top: 30%;
}

body {
    background-image: radial-gradient(circle at 47% 12%, #5b5959, #292929);
}

.nomargin {
    margin: 0 !important;
}

.homepage-details {
    font-family: 'Roboto' !important;
}

.home-widget-text {
    font-size: 16px;
    vertical-align: middle;
}

.menu-active {
    color: #ff6b00 !important;
}
.panel {
    background: transparent !important;
}
.panel-default>.panel-heading {
    background-color: transparent !important;
    border-color: transparent !important;
}
.details-home-page {
    font-family: 'BauhausC';
    font-size: 14px;
    color: #f0f0f0;
}
.panel-collapse-content-home {
    text-align: left;
    line-height: 0.5 !important;
}

.gradient {
    width: 100%; 
    height: 3px; 
    background-image: radial-gradient(circle at 128% 3448%, #7511cd, #d54a08 81%, #d85b05);
}


.panel-collapse-content-home {
    visibility: hidden;
}

.collapsible-heading:hover .panel-collapse-content-home{
    visibility: visible;
}




.footer{
    text-align:center;
    position:absolute;
    bottom:10%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.footer p {
    opacity: 0.13;
    font-family: HarmoniaSansProCyr;
    font-size: 10px;
    color: #ffffff;
    margin-top:5px;
}

.bullet {
    margin: 4px;
}

.bullet-active {
   background-image: url('../content/images/Bullet_active.png');
}

:not(.bullet-active).bullet:hover {
   background-image: url('../content/images/Bullet_hover.png');
}



.button-slide {
    position:absolute;
    top:0px;
    bottom:0px;
    margin:auto 0px;
    cursor: pointer; 
}

.button-slide-left {
    left:-65px;
}

.button-slide-right {
    right:-65px;
}
