/*@font-face {
    font-family: 'Roboto';
    src: url('../content/fonts/Roboto-Regular.woff2');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../content/fonts/RobotoCondensed-Regular.ttf');
    font-weight: 200;
    font-style: italic;
}*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../content/fonts/Roboto-Condensed-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
    font-family: 'BauhausC';
    src: url('../content/fonts/BauhausC-Light.ttf');
    font-weight: 200;
}


#home{
    text-align: center;
    text-align: -webkit-center;
}


.logo {

    height: 28px;
    margin-top: 10px;
}

.main-menu > li > a {
    font-family: 'Roboto' !important;
    font-weight: 200 !important;
}

.main-header {
    background: transparent;
}

.container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    margin-bottom: 0px !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent !important;
}

.nav > li > a {
    color: white;
    font-weight: bold;
}

.nav > li > a:active, .nav > li > a:hover {
    color: #FF6B00;
}


.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.container:after, .container:before {
    content:initial !important;
}

.page-content {
    margin: 0 auto;
    max-width: 1150px;
    width: calc(100vw - 100px);
    min-height: 575px;
    height: calc(100vh - 63px);
    display: table;
}

.page-content:not(.home-page-content){
    padding-bottom:40px;
}

.collapsible-heading {
    cursor: pointer;
}

.page-slogan {
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 3.1px;
}


body {
    background-image: radial-gradient(circle at 47% 12%, #5b5959, #292929);
}

.nomargin {
    margin: 0 !important;
}
.nopadding {
    padding-left: 0px !important;
}

.nopadding-right {
    padding-right: 0px !important;
}

.homepage-details {
    font-family: 'Roboto' !important;
    margin-top: 25% !important;
    text-align:center;
}

.home-widget-text {
    font-size: 16px;
    vertical-align: middle;
}

.menu-active {
    color: #ff6b00 !important;
}
.panel {
    background: transparent !important;
}
.panel-default>.panel-heading {
    background-color: transparent !important;
    border-color: transparent !important;
}
.panel-collapse {
    line-height: 0.5 !important;
    letter-spacing: 0.5px;
    text-align: justify;
    padding: 0;
}
.details-home-page {
    font-family: 'Roboto';
    font-size: 14px;
    color: #f0f0f0;
}

@-webkit-keyframes'slide' {
	0%{
		background-position-x:200%;
	}
	100% {
		background-position-x:0%;
	}
}

.gradient {
    background-color: #a52e6b;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZDU0YTA4IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM3NTExY2QiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZDU0YTA4IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(213, 74, 8)),color-stop(0.5, rgb(117, 17, 205)),color-stop(1, rgb(213, 74, 8)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(left,rgb(213, 74, 8) 0%,rgb(117, 17, 205) 50%,rgb(213, 74, 8) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to right,rgb(213, 74, 8) 0%,rgb(117, 17, 205) 50%,rgb(213, 74, 8) 100%);
    background-image: -ms-repeating-linear-gradient(left,rgb(213, 74, 8) 0%,rgb(117, 17, 205) 50%,rgb(213, 74, 8) 100%);
 
    background-position-x:50%;
    background-size: 2300px;


    width: 100%; 
    height: 3px; 
    -webkit-animation:'slide' 5s infinite linear forwards;
}


.gradient-13 {
    background-size: 700px !important;
}

.gradient-23 {
    background-size: 1400px !important;
}
    
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd54a08",endColorstr="#ff7511cd",GradientType=1);
    }
}

.footer{
    text-align:center;
    position:absolute;
    bottom:15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.footer p {
    opacity: 0.2;
    font-family: 'Roboto';
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 0px;
}

/*.bullet {
    margin: 4px;
}

.bullet-active {
   background-image: url('../content/images/Bullet_active.png');
}

:not(.bullet-active).bullet:hover {
   background-image: url('../content/images/Bullet_hover.png');
}*/

.button-slide {
    position:absolute;
    top:0px;
    bottom:0px;
    margin:auto 0px;
    cursor: pointer; 
}

.button-slide-left:hover {
    transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
}

.button-slide-right:hover {
    transform: scale(1.5, 1.5) rotate(180deg);
    -ms-transform: scale(1.5, 1.5) rotate(180deg);
    -webkit-transform: scale(1.5, 1.5) rotate(180deg);
}

.button-slide-left {
    left:-65px;
}

.button-slide-right {
    transform:rotate(180deg);
    right:-65px;
}





@media (max-height: 900px) {
    .homepage-details {
        margin-top: 18% !important;
    }
}
    
@media (max-height: 800px) {
    .homepage-details {
        margin-top: 5% !important;
    }
}

@media (max-width: 1320px) {
    .page-content {
        margin-left: 50px;
        margin-right: 50px;
        width: calc(100vw - 100px);
    }
    .button-slide-left {
        left:-40px;
    }
    .button-slide-right {
        right:-40px;
    }
    .page-slogan {
        font-size: 3.5vw;
    }
    .home-widget-text {
        font-size: 1.2vw;
    }
    .details-home-page {
        font-size:1.0vw;
        line-height: 0.7 !important;
    }
    .collapsible-heading {
        margin-top: 10px;
        line-height:1vw !important;
    }
    .nav li {
        font-size: calc(0.7vw*1.5);
    }
}

@media (max-width: 1000px) {
    .page-content {
        min-height: 460px;
    }
    .nav li {
        font-size: 1.25vw;
    }
}

@media (max-width: 700px) {
    .nav li {
        font-size: 1.75vw;
    }
}
