
#partnership {
    text-align: center;
    text-align: -webkit-center;
}

.partnership-page-slogan {
    font-family: 'RobotoBold';
    font-size: 1.85vw;
    margin-right: 1vw;
}

.partnership-frame {
    height: auto !important;
    max-width: 1150px !important;
    margin: 0px;
}

.partnership-menu-item:hover:not(.partnership-menu-item-active) {
    color: #aaa;
}

.partnership-menu-item-active {
    font-size: 17px;
}

.partnership-item-header {
    margin-top: 55px;
    font-size: 22px;
    text-align: left;
    padding: 0px;
    margin-right: 30px;
}

.partnership-item {
    padding: 0px;
    text-align: center !important;
    max-width: 350px;
    margin-right: 50px !important;
}

.partnership-last-item {
    margin-right: 0px !important;
    max-width: 349px;
}

.partnership-image {
    margin-top: 60px;
    height: 150px;
}

.partnership-text {
    font-family: 'Roboto' !important;
    font-size: 16px;
    font-weight: 300 !important;
    line-height: 1.36 !important;
    text-align: left;
    height: 150px;
}


.partners-frame {
    height: auto !important;
    max-width: 1150px !important;
    margin-top: 4.5vw;
    margin-bottom: 4.5vw;
}

.partners-item {
    max-width: 350px;
    margin-right: 50px !important;
}

    .partners-item img {
        max-height: 100px;
        vertical-align: top;
    }

    .partners-item p {
        margin-top: 10px;
        font-size: 36px;
        font-family: 'RobotoBold';
        line-height: 2em;
    }

    .partners-item > div {
        height: 292px;
        display: grid;
        align-items: center;
        line-height: 1em;
    }

@media (max-width: 1320px) {
    #partnership-frame {
        width: calc(100vw - 100px);
    }

    .partnership-page-slogan {
        font-size: 1.85vw;
        margin-right: 1vw;
    }

    .partnership-menu {
        font-size: 1.2vw;
    }

    .selected-partnership-menu, .partnership-menu-item, .partnership-submenu-item {
        font-size: 1.0vw;
    }

    .selected-partnership-menu-active, .partnership-menu-item-active, .partnership-submenu-item-active {
        font-size: 1.3vw;
    }

    .partnership-text {
        font-size: 1.2vw;
        max-width: 27vw;
        padding-top: 0.8vw;
        height: auto;
    }

    .partnership-item {
        max-width: 27vw;
        margin-right: 3vw !important;
    }

        .partnership-item:last-child {
            margin-right: 0px !important;
        }

    .partnership-image {
        margin-top: 3vw;
        max-height: 15vw;
    }

    .partnership-data {
        max-width: 27vw;
    }

    .partnership-item-header {
        font-size: 1.5vw;
        margin-top: 3vw;
        margin-right: 2.2vw;
        margin-bottom: 0.8vw;
    }

    .partners-frame {
        width: calc(100vw - 100px);
        margin-top: 2.5vw;
    }

    .partners-item {
        max-width: 30vw !important;
        max-height: 24vw;
        margin-right: 1vw !important;
    }

    .partners-item>div {
        max-width: 30vw;
        max-height: 24vw;
    }

    .partners-item img {
        max-height: 7vw;
    }

    .partners-item p {
        margin-top: 0px;
        font-size: 2.6vw;
    }

    .partners-item a {
        display: inline-grid;
    }
}

@media (max-width: 810px) {
    .partnership-item {
        max-width: 26vw;
    }
}

@media (max-width: 650px) {
    .partnership-item {
        max-width: 25vw;
    }
}

@media (max-width: 550px) {
    .partnership-item {
        max-width: 23vw !important;
    }
}

@media (max-width: 400px) {
    .partnership-item {
        max-width: 18vw !important;
    }
}
.partner-gray-item {
    background: rgba(255,255,255,.05);
}