.partnership-page-slogan {
    font-size: 1.85vw;
    margin-right: 1vw;
}

.partnership-frame {
    height: auto !important;
    max-width: 1150px !important;
    margin: 0px;
}


.partnership-menu-item-active {
    font-size: 17px;
}

.partnership-item-header {
    margin-top: 45px;
    font-size: 20px;
    text-align: left;
    padding: 0px;
    margin-right: 30px;
}

.partnership-item {
    padding: 0px;
    text-align: center !important;
    max-width: 350px;
    margin-right: 50px !important;
}

.partnership-last-item {
    margin-right: 0px !important;
}

.partnership-image {
    margin-top: 50px;
    height: 210px;
}

.partnership-text {
    font-family: BauhausC !important;
    font-size: 14px;
    font-weight: 300 !important;
    line-height: 1.36 !important;
    text-align: left;
    padding-top: 15px;
    height: 150px;
}

@media (max-width: 1320px) {
    #partnership-frame {
        width: calc(100vw - 100px);
    }

    .partnership-page-slogan {
        font-size: 1.85vw;
        margin-right: 1vw;
    }

    .partnership-menu {
        font-size: 1.2vw;
    }
    
    .selected-partnership-menu, .partnership-menu-item, .partnership-submenu-item {
        font-size: 1.0vw;
    }

    .selected-partnership-menu-active, .partnership-menu-item-active, .partnership-submenu-item-active {
        font-size: 1.3vw;
    }

    .partnership-text {
        font-size: 1vw;
        max-width: 24vw;
    }

    .partnership-item {
        max-width: 25vw;
        margin-right: 2vw !important;
    }

    .partnership-item {
        margin-right: 0px !important;
    }

    .partnership-image {
        height: 15vw;
    }

    .partnership-data {
        width: 24vw;
    }
    .partnership-item-header {
        font-size: 1.5vw;
    }
}

@media (max-width: 810px) {
    
    .partnership-item {
        max-width: 24vw;
    }

    
    .partnership-text {
        font-size: 1vw;
        max-width: 20vw;
    }
}


@media (max-width: 725px) {
    
    .partnership-item {
        max-width: 21vw;
    }
}

