
#partnership{
    text-align: center;
    text-align: -webkit-center;
}

.partnership-page-slogan {
    font-family: 'RobotoBold';
    font-size: 1.85vw;
    margin-right: 1vw;
}

.partnership-frame {
    height: auto !important;
    max-width: 1150px !important;
    margin: 0px;
}

.partnership-menu-item:hover:not(.partnership-menu-item-active)  {
    color: #aaa;
}

.partnership-menu-item-active {
    font-size: 17px;
}

.partnership-item-header {
    margin-top: 50px;
    font-size: 22px;
    text-align: left;
    padding: 0px;
    margin-right: 30px;
}

.partnership-item {
    padding: 0px;
    text-align: center !important;
    max-width: 350px;
    margin-right: 50px !important;
}

.partnership-last-item {
    margin-right: 0px !important;
    max-width: 349px;
}

.partnership-image {
    margin-top: 50px;
    height: 150px;
}

.partnership-text {
    font-family: 'Roboto' !important;
    font-size: 16px;
    font-weight: 300 !important;
    line-height: 1.36 !important;
    text-align: left;
    padding-top: 15px;
    height: 150px;
}

@media (max-width: 1320px) {
    #partnership-frame {
        width: calc(100vw - 100px);
    }

    .partnership-page-slogan {
        font-size: 1.85vw;
        margin-right: 1vw;
    }

    .partnership-menu {
        font-size: 1.2vw;
    }
    
    .selected-partnership-menu, .partnership-menu-item, .partnership-submenu-item {
        font-size: 1.0vw;
    }

    .selected-partnership-menu-active, .partnership-menu-item-active, .partnership-submenu-item-active {
        font-size: 1.3vw;
    }

    .partnership-text {
        font-size: 1.2vw;
        max-width: 27vw;
        padding-top: 0.8vw;
    }

    .partnership-item {
        max-width: 27vw;
        margin-right: 3vw !important;
    }
    .partnership-item:last-child {
        margin-right: 0px !important;
    }

    .partnership-image {
        margin-top: 3vw;
        max-height: 15vw;
    }

    .partnership-data {
        max-width: 27vw;
    }
    .partnership-item-header {
        font-size: 1.5vw;
        margin-top: 3vw;
        margin-right: 2.2vw;
        margin-bottom: 0.8vw;
    }
}

@media (max-width: 810px) {
    .partnership-item {
        max-width: 26vw;
    }
}

@media (max-width: 650px) {
    .partnership-item {
        max-width: 25vw;
    }
}

@media (max-width: 550px) {
    .partnership-item {
        max-width: 23vw !important;
    }
}

@media (max-width: 400px) {
    .partnership-item {
        max-width: 18vw !important;
    }
}