
.portfolio-header{
    display: flex;
    font-family: Roboto;
    font-stretch: condensed;
    justify-content: space-between;
    margin-top:12%;
    margin-bottom: 0px;
    color: #ffffff;
}

.portfolio-page-slogan {
    font-size: 27px;
    text-align: left;
    padding:0px;
}

.portfolio-menu {
    font-size: 14px;
    align-self: flex-end;
    text-align: right !important;
    padding:0px;
    font-family: Roboto !important;
    font-stretch: condensed !important;
}

.portfolio-title{
    font-family: BauhausC;
    font-size: 22px;
    font-weight: 300;
    padding-top: 44px;
    padding-bottom: 20px;
    margin:0px;
    text-align: left;
}

.portfolio-image {
    padding:0px;
    text-align: left;
}

.portfolio-text {
    font-family: BauhausC !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 1.36 !important;
    text-align: left;
    padding-top: 30px;
}

.portfolio-text a{
    color: #6ed2ff;
}

.portfolio-frame{
    height: auto !important;
    width: 1150px !important;
    margin: 0px;
}

.portfolio-item {
    padding: 0px;
    text-align:left !important;
    width: 350px !important;
    margin-right:50px !important;
}



.selected-portfolio-item {
    height: auto !important;
    margin: 0px;
    margin-top: 60px;
    width: 1150px !important;
}

.selected-portfolio-menu {
    font-size: 14px;
    text-align: left;
    font-family: Roboto;
    color: #ffffff;
    font-stretch: condensed;
}

.selected-portfolio-text {
    font-family: BauhausC;
    font-size: 24px;
    line-height: 1.54;
    text-align: justify;
}

.selected-portfolio-image {
    padding: 0px;
    text-align: left;
    background-size:auto;
}

.selected-portfolio-details {
    padding-right:0px;
    padding-left:50px;
}

.selected-portfolio-back-button {
    font-family: BauhausC;
    font-size: 16px;
    text-align:left;
}

.selected-portfolio-back-button a {
    color: #6ed2ff;
}

.selected-portfolio-back-button a:hover {
    cursor:pointer;
    color: #6ed2ff;
}