
#testimonials{
    text-align: center;
    text-align: -webkit-center;
}

.testimonial-page-details {
    display: table-cell;
    vertical-align: middle;
    max-width:1150px;
}

.testimonial-header{
    font-family: 'Roboto';
    font-stretch: condensed;   
    margin-bottom: 0px;
    color: #ffffff;
}

.testimonial-page-slogan {
    font-size: 27px;
    text-align: left;
    font-family: 'RobotoBold';
}


.testimonial-block {
    display:flex;
    font-family: 'Roboto';
    font-weight: 300;
}

.testimonial-author p{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
    padding-top: 44px;    
    padding-bottom: 15px;
    margin:0px;
    text-align: left;
}

.testimonial-details  p{
    font-size: 22px;
    line-height: 1.54;
    text-align: justify;
    padding-right: 50px;
}

.testimonial-image {
    padding:0px;
    text-align: left;
    margin-top: 44px;
}

.testimonial-data {
    vertical-align:text-top;
    padding-top:14px;
    padding-left:40px;
    padding-right:0px;
}

.testimonial-item{
    max-width:1150px !important;
}

.testimonial-frame {
    height: auto !important;
    max-width: 1150px !important;
}


.partners-frame {
    height: auto !important;
    max-width: 1150px !important;
    margin-top: 44px;
}

.partners-item {
    max-height: 100px;
}

.partners-item img {
    max-height: 100px;
    vertical-align: top;
}

@media (max-width: 1320px) {
    .testimonial-page-details {
        width: calc(100vw - 100px);
    }
    .testimonial-item {
        width: calc(100vw - 100px) !important;
    }
    .testimonial-frame{
        width: calc(100vw - 100px);
    }
    .testimonial-page-slogan {
        font-size:1.85vw;
    }
    .testimonial-author p{
        font-size: 1.7vw;
        padding-top:4.2vw;
        padding-bottom:0.6vw;
    }
    .testimonial-details p{
        font-size: 1.7vw;
        padding-right: 4vw;
    }
    .testimonial-image {
        margin-top: 3.5vw;
    }
    .testimonial-image img{
        height:auto;
        width:27vw;
    }
    .testimonial-data {
        padding-top: 0px;
        padding-left: 2.5vw;
    }
    .testimonial-details p{
        padding-top: 0px;
        padding-left: 0px;
    }
    .partners-frame{
        width: calc(100vw - 100px);
        margin-top: 3.5vw;
    }
    .partners-item {
        max-height: 8vw;
    }
    .partners-item img {
        max-height: 8vw;
    }
}

