
.testimonial-header{
    display: flex;
    font-family: Roboto;
    font-stretch: condensed;   
    justify-content: space-between;
    margin-top:13%;
    margin-bottom: 0px;
    color: #ffffff;
}

.testimonial-page-slogan {
    font-size: 27px;
    text-align: left;
}

.testimonial-menu {
    font-size: 14px; 
    align-self: flex-end;
    text-align: right !important;
}


.testimonial-block {
    display:flex;
    font-family: BauhausC;
    font-weight: 300;
}

.testimonial-author p{
    font-family: BauhausC;
    font-size: 22px;
    padding-top: 44px;
    padding-bottom: 20px;
    margin:0px;
    text-align: left;
}

.testimonial-details  p{
    font-size: 24px;
    line-height: 1.54;
    text-align: justify;
}

.testimonial-position {
    font-size: 14px;
    line-height: 1.36;
    text-align: left;
    position: absolute;
    bottom: 0;
}


.testimonial-image {
    padding:0px;
    text-align: left;
}

.testimonial-data {
    padding-top:14px;
    padding-right:0px;
}

.testimonial-item{
    width:1150px !important;
}

.testimonial-frame {
    height: auto !important;
}



