@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nBBQ_Gf4FfI8J4SYljBAylk.woff2) format('woff2'), url('../content/fonts/RobotoCondensed-Light.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2'), url('../content/fonts/RobotoCondensed-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



* {
    margin: 0px;
    font-family: 'Roboto';
    color: #fff;
    line-height: 1.5em;
}


body {
    background-image: radial-gradient(circle at 50% 150%, #5b5959, #131313);
    min-height: 100vh;
}

#table, #table-background {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: rotate(5deg);
}

#table {
    z-index: 3;
}

#table-background {
    top: 0;
    z-index: 1;
}

.square {
    opacity: 0;
}

.content {
    width: 100%;
    min-height: calc(100vh - 37px);
    margin: auto;
}

.content h1 {
    padding: 15px 0px 10px 0px;
    text-align: center;
    font-size: 4em;
    font-family: 'RobotoBold';
    position: relative;
    z-index: 2;
    background: rgba(0,0,0,0.2);
}

.content>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px auto 0px auto;
    padding: 0px 20px;
    max-width: 950px;
}

.col1 {
    max-width: 440px;
    margin-bottom: 36px;
}

.col1>div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.col1>img {
    width: 440px;
    position: relative;
    z-index: 2;
}

.link {
    position: relative;
    z-index: 4;
}

.link img {
    width: 140px;
}



.col2 {
    width: 100%;
    max-width: 440px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 36px;
}

.tbt-description {
    cursor: pointer;
    z-index: 4;
    position: relative;
}
.tbt-description:hover {
    background: rgba(0, 0, 0, 0.25);
}
.tbt-description details {
    padding: 0px 0px 15px 0px;
}
.tbt-description summary {
    padding: 15px 20px 5px 20px;
    font-size: 1.75em;
    outline:none;
}
.tbt-description details p{
    padding: 0px 20px;
    font-size: 1em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background: rgba(0,0,0,0.45);
}

footer a {
    z-index: 4;
    position: relative;
}

footer img {
    height: 20px;
    width: auto;
    padding: 5px;
}





@media screen and (max-width: 1500px) {
    .content>div {
        margin-top: 36px;
    }
}

@media screen and (max-width: 934px) {
    .content>div {
        justify-content: center;
    }
    .col1 {
        max-width: 600px;
    }
    .col1>img {
        width: 600px;
    }
    .link img {
        width: 180px;
    }
    .col2 {
        max-width: 600px;
    }
}

@media screen and (max-width: 640px) {
    .col1>img {    
        width: calc(100vw - 60px);
    }
    .link img {
        width: calc(33vw - 24px);
    }
    .content h1 {
        font-size: 3em;
    }
    .content>div {
        margin-top: 24px;
    }
    .col1>div {
        margin-top: 15px;
    }
    .col1, .col2 {
        margin-bottom: 28px;
    }
    .tbt-description details {
        padding: 0px 0px 15px 0px;
    }
    .tbt-description summary {
        padding: 15px 15px 5px 15px;
        font-size: 1.55em;
    }
    .tbt-description details p{
        padding: 0px 15px;
        font-size: 0.9em;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 400px) {
    .content h1 {
        font-size: 2.5em;
    }
    .content>div {
        margin-top: 18px;
    }
    .col1>div {
        margin-top: 10px;
    }
    .col1, .col2 {
        margin-bottom: 20px;
    }
    .tbt-description details {
        padding: 0px 0px 5px 0px;
    }
    .tbt-description summary {
        padding: 10px 10px 5px 10px;
        font-size: 0.8em;
        font-size: 1.35em;
    }
    .tbt-description details p{
        padding: 0px 10px;
    }
}






















.square-background-active-1 {
    -webkit-animation: square-background-1 2s ease both;
    animation: square-background-1 2s ease both;
}
@keyframes square-background-1 {
    0%   {background: rgba(194, 66, 43, 0.25);}
    100% {background: rgba(194, 66, 43, 0);}
}
@-webkit-keyframes square-background-1 {
    0%   {background: rgba(194, 66, 43, 0.25);}
    100% {background: rgba(194, 66, 43, 0);}
}


.square-background-active-2 {
    -webkit-animation: square-background-2 2s ease both;
    animation: square-background-2 2s ease both;
}
@keyframes square-background-2 {
    0%   {background: rgba(206, 135, 22, 0.25);}
    100% {background: rgba(206, 135, 22, 0);}
}
@-webkit-keyframes square-background-2 {
    0%   {background: rgba(206, 135, 22, 0.25);}
    100% {background: rgba(206, 135, 22, 0);}
}


.square-background-active-3 {
    -webkit-animation: square-background-3 2s ease both;
    animation: square-background-3 2s ease both;
}
@keyframes square-background-3 {
    0%   {background: rgba(206, 60, 2, 0.25);}
    100% {background: rgba(206, 60, 2, 0);}
}
@-webkit-keyframes square-background-3 {
    0%   {background: rgba(206, 60, 2, 0.25);}
    100% {background: rgba(206, 60, 2, 0);}
}