

#contacts{
    text-align: left;
    text-align: -webkit-left;
    margin-bottom: 4vh;
}


.contacts {
    padding-right:0;
}

.team {    
    margin-top: 4vh;
    padding-left: 0px !important;
}


.contacts-page-details{
    color: #ffffff;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
}

.contacts-data {
    width: 98vw;
    text-align: center;
    text-align: -webkit-center;
}

.contacts-header div {
    text-align:right;
}

.contacts-page-slogan {
    font-family: 'RobotoBold';
    font-size: 5vw;
    font-stretch: condensed;
}

#map {
    max-height: 400px;
    width: 100%;
    margin-top: 6vw;
}

#location {
    font-family: 'Roboto';
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 1.69;
    color: #ddd;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
    user-select: text;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

#info {
    display:flex;
    justify-content: space-between;
}

#info img {
    width: 100%;
}



.contacts-items{
    padding-left: 0px;
}

.contacts-frame {
    max-height: 292px !important;
    max-width: 350px !important;
    margin-left: 2vw !important;
    width: 96vw;
    margin: 0px;
    margin-top: 45px;
    text-align:right !important;
    overflow: hidden !important;
}

.contacts-item {
    padding: 0px;
    text-align:right !important;
    max-width: 175px;
    max-height:292px;
    padding:0px;
    margin:0px !important;
}

.contacts-item img {
    max-width: 175px;
    max-height: 146px;
}



.selected-contact-item {
    margin-top: 6vw;
    margin-right:0px;
    padding-right:0px;
    padding-left:0px;
}

.selected-contact-item img {
    max-width: 350px;
    width: 100%;
}

.selected-contact-item p {
    font-family: 'Roboto';
    font-size: 4.5vw;
    font-weight: 300;
    color: #ffffff;
    margin-top: 11px;
    margin-bottom:0px;
}




.photos {
    margin: 0px;
    margin-top: 15px;
    text-align: left;
}

#photo-frame {
    height: 105px;
    overflow: hidden;
}

.photo-item {
    margin-top: 0 !important;
    width: auto !important;
}

.photo-item img {
    height: 105px;
}





#photoModal {
    padding: 0px !important;
}

.modal-dialog {
    margin: 0px !important;
    width: 100% !important;
}

.modal-content {
    height: 100% !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
    border: none !important;
    box-shadow: none !important;
    background-color: rgba(0,0,0,0.5);
    
}

.modal-body {
    padding:0px;
}

#photoCarousel {
    height: 100vh !important;
}

.carousel-inner {
    height: 100vh !important;
}

.carousel-photo-item {
    height: 100% !important;
}

.carousel-photo-item div {
    height: 100% !important;
    display: flex !important;
    vertical-align:middle !important;
}

.carousel-photo-item img{
    margin: auto;
    max-height: 100vh;
    max-width: 100vw;
}

.carousel-control {
    background-image:none !important;
}

#button-close {
    -ms-transform: scale(4, 4);
    -webkit-transform: scale(4, 4);
    transform: scale(4, 4);
    position: absolute;
    top: 3vw;
    right:5vw;
    color: #888; 
    opacity: 1;
    text-shadow:none;
    padding: 2vw 2vw 2vw 2vw;
}

#button-close:hover {
    color: #fff; 
}

#button-close:focus {
    outline:none !important;
}