

#contacts{
    text-align: center;
    text-align: -webkit-center;
}


.contacts {
    padding-right:0;
}

.team {
    margin-top: 50px;
    padding-left:25px;
}


.contacts-page-details{
    color: #ffffff;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
}

.contacts-data {
    max-width:1150px !important;
}

.contacts-header div {
    text-align:right;
}

.contacts-page-slogan {
    font-family: 'Roboto';
    font-size: 5vw;
    font-stretch: condensed;
}

#map {
    max-height: 500px;
    width: 100%;
    margin-top: 45px;
}

#location {
    font-family: 'Roboto';
    font-size: 3vw;
    font-weight: 300;
    line-height: 1.69;
    color: #ddd;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
    user-select: text;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

#info {
    display:flex;
    justify-content: space-between;
}

#info img {
    width: 100%;
}



.contacts-items{
    padding-left: 25px;
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right; 
    text-align: -ms-right;
}

.contacts-frame {
    height: 292px !important;
    margin: 0px;
    margin-top: 45px;
    text-align:right !important;
    overflow: hidden !important;
}

.contacts-item {
    padding: 0px;
    text-align:right !important;
    max-width: 175px;
    max-height:292px;
    height:22vw !important;
    padding:0px;
    margin:0px !important;
}

.contacts-item img {
    width: 175px;
    height: 146px;
}



.selected-contact-item {
    margin-top: 45px;
    margin-right:0px;
    padding-right:0px;
    text-align: left;
}

.selected-contact-item img {
    max-height:292px;
    max-width: 350px;
    width:100%;
}

.selected-contact-item p {
    font-family: 'Roboto';
    font-size: 3vw;
    font-weight: 300;
    color: #ffffff;
    margin-top: 11px;
    text-align: center;
}






.photos {
    margin: 0px;
    margin-top: 15px;
    text-align: left;
}

#photo-frame {
    height: 105px;
    overflow: hidden;
}

.photo-item {
    margin-top: 0 !important;
    width: auto !important;
}

.photo-item img {
    height: 105px;
}






.grayscale {
    -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
}

.grayscale:hover {
  -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
}



#photoModal {
    padding: 0px !important;
}

.modal-dialog {
    margin: 0px !important;
    width: 100% !important;
}

.modal-content {
    height: 100% !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
    border: none !important;
    box-shadow: none !important;
    background-color: rgba(0,0,0,0.5);
    
}

.modal-body {
    padding:0px;
}

#photoCarousel {
    height: 100vh !important;
}

.carousel-inner {
    height: 100vh !important;
}

.carousel-photo-item {
    height: 100% !important;
}

.carousel-photo-item div {
    height: 100% !important;
    display: flex !important;
    vertical-align:middle !important;
}

.carousel-photo-item img{
    margin: auto;
    max-height: 100vh;
}

.carousel-control {
    background-image:none !important;
}

#button-close {
    -ms-transform: scale(4, 4);
    -webkit-transform: scale(4, 4);
    transform: scale(4, 4);
    position: absolute;
    top:30px;
    right:100px;
    color: #888; 
    opacity: 1;
    text-shadow:none;
    padding: 20px 30px 20px 35px;
}

#button-close:hover {
    color: #fff; 
}

#button-close:focus {
    outline:none !important;
}





@media (max-width: 1320px) {
    .contacts-data{
        width: calc(100vw - 200px);
    }
    /*#location {
        font-size: 3vw;
    }
    .contacts-page-slogan {
        font-size: 5vw;
    }
    .selected-contact-item p {
        font-size: 3vw;
    }
    .contacts-item {
        height:22vw !important;
    }*/
}