@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nBBQ_Gf4FfI8J4SYljBAylk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#home {
    margin-bottom: 8vh;
    width: 100%;
}

header {
    margin-top: 2vw;
}

.logo {
    height: 8vw;
    margin-top: 5px;
    padding-left: 2vw;
}
.logo-menu {
    position: absolute;
    right: 4vw;
    height: 8vw;
    top: 0.5vw;
}

#menu {
    margin: 0px 20px;
}

#menu li {
    font-size: 5vw;
    text-align: right;
}

.main-menu > li > a {
    font-family: 'Roboto' !important;
    font-weight: 200 !important;
}

.main-header {
    background: transparent;
}

.container {
    display: flex;
    justify-content: space-between;
}

.navbar-header {
    margin: 0px !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent !important;
}

.nav > li > a {
    color: white;
    font-weight: bold;
}

.nav > li > a:active, .nav > li > a:hover {
    color: #FF6B00;
}


.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.container:after, .container:before {
    content:initial !important;
}

.page-content {
    margin: 0 auto;
    display: table;
    width: 100%;
}

.page-content:not(.home-page-content){
}

.collapsible-heading {
    cursor: pointer;
    margin-top: 2vh;
    margin-top: 2vh;
}

.page-slogan {
    font-family: 'RobotoBold';
    font-size: 12vw;
    color: #ffffff;
    letter-spacing: 3.1px;
    line-height: 1.23em;
    vertical-align: middle;
    margin-bottom: 3vh;
}

.dud {
    color: #757575;
}



.panel-collapse-content-home .row div {
    margin-left: 0px;
    width: 100%;
}




.animated-background {
    position: fixed;
    overflow-y: auto;
}

body {
    background-image: radial-gradient(circle at 50% 150%, #5b5959, #131313);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}


.nomargin {
    margin: 0 !important;
}
.nopadding {
    padding-left: 0px !important;
}

.nopadding-right {
    padding-right: 0px !important;
}

.homepage-details {
    font-family: 'Roboto' !important;
    text-align:center;
    margin-top: 8vh;
}

.home-widget-text {
    text-align: left;
    font-size: 5vw;
    vertical-align: middle;
    font-family: 'RobotoBold';
    line-height: 1em;
}


.menu-active {
    color: #ff6b00 !important;
}
.panel {
    background: transparent !important;
}
.panel-default>.panel-heading {
    background-color: transparent !important;
    border-color: transparent !important;
}
.panel-collapse {
    text-align: justify;
    padding: 0;
}
.details-home-page {
    font-family: 'Roboto';
    font-size: 4vw;
    color: #f0f0f0;
    margin-left: 11%;
    margin-right: 10%;
    margin-top: 1vh;
}

@-webkit-keyframes'slide' {
	0%{
		background-position-x:200%;
	}
	100% {
		background-position-x:0%;
	}
}

.gradient {
    background-color: #b1033c;
    left: -100px;
    right: -100px;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZDU0YTA4IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM3NTExY2QiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZDU0YTA4IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(255, 107, 8)),color-stop(0.5, #b1033c),color-stop(1, rgb(255, 107, 8)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(left,rgb(255, 107, 8) 0%,#b1033c 50%,rgb(255, 107, 8) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to right,rgb(255, 107, 8) 0%,#b1033c 50%,rgb(255, 107, 8) 100%);
    background-image: -ms-repeating-linear-gradient(left,rgb(255, 107, 8) 0%,#b1033c 50%,rgb(255, 107, 8) 100%);
    background-position-x: 50%;
    background-size: calc(100%*2);
    width: 100%;
    height: 4px;
    -webkit-animation: 'slide' 5s infinite linear forwards;
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,1) 75%,rgba(0,0,0,0.1) 100%);
}

.gradient-13 {
    background-size: 700px !important;
}

.gradient-23 {
    background-size: 1400px !important;
}
    
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd54a08",endColorstr="#ff7511cd",GradientType=1);
    }
}

.footer{
    text-align:center;
    margin: 0 auto;
    background-color:darkgray;
    height:4.2vw !important;
}

.footer p {
    opacity: 0.6;
    font-family: 'Roboto';
    font-size: 3vw;
    color: #ffffff;
    margin-bottom: 0px;
    vertical-align:middle;
}

.button-slide {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
    cursor: pointer;
    opacity: 0.5;
}

.button-slide-left:hover {
    opacity: 1;
}

.button-slide-right:hover {
    opacity: 1;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.button-slide-left {
    left: -65px;
}

.button-slide-right {
    transform: rotate(180deg);
    right: -65px;
}