
#portfolio{
    text-align: center;
    text-align: -webkit-center;
}

.portfolio-page-details {
    display: table-cell;
    vertical-align: middle;
}

.portfolio-header{
    font-family: 'Roboto';
    font-stretch: condensed;
    justify-content: space-between;
    color: #ffffff;
}

.portfolio-header div {
    padding: 0px;
    text-align: center;
}

.portfolio-page-slogan {
    font-size: 5vw;
    text-align: left;
    padding:0px;
    text-transform: uppercase;
}

.portfolio-menu {
    text-align: left !important;
    font-size: 13px;
    align-self: flex-end;
    padding:0px;
    padding-left: 25px;
    font-family: 'Roboto' !important;
    font-stretch: condensed !important;
}

.portfolio-menu-item-active {
    font-size: 17px;
}

.portfolio-menu a {
    color: #ffffff;
    cursor: pointer;
}

.portfolio-menu a:hover {
    text-decoration:none;
} 

#portfolio-submenu {
    font-size: 13px;
    text-align: right;
}
.portfolio-submenu-item {
    font-size: 13px;
}

.portfolio-submenu-item-active {
    font-size: 17px;
}

#portfolio-submenu a {
    padding: 0px 5px;
}

.portfolio-title{
    font-family: 'Roboto';
    font-size: 5vw;
    font-weight: 300;
    padding-bottom: 20px;
    margin:0px;
    text-align: left;
}

.portfolio-image {
    padding:0px;
    text-align: left;
}

.portfolio-text {
    font-family: 'Roboto' !important;
    font-size: 4vw;
    font-weight: 300 !important;
    line-height: 1.36 !important;
    text-align: left;
    padding-top: 30px;
}

.portfolio-text a{
    color: #6ed2ff;
}

.portfolio-frame{
    height: auto !important;
    max-width: 1150px !important;
    margin: 0px;
}

.portfolio-item {
    margin-top: 20px !important;
    padding: 0px;
    text-align:left !important;
    max-width: 350px;
    margin-right:3vw !important;
}

.selected-portfolio-header {
    display:block;
    text-align:center;
}

.selected-portfolio-item {
    height: auto !important;
    text-align: left;
    margin: 0px;
    margin-top: 3.5vw;
    max-width: 1150px !important;
}

.selected-portfolio-menu {
    font-size:3.5vw;
    text-align: left;
    font-family: 'Roboto';
    color: #ffffff;
    font-stretch: condensed;
    align-self: flex-end;
}

.selected-portfolio-menu-active {
    font-size:4.5vw;
}

.selected-portfolio-text {
    font-family: 'Roboto';
    font-size:4vw;
    line-height: 1.54;
    text-align: justify;
}

.selected-portfolio-image {
    padding: 0px;
    text-align: left;
    background-size:auto;
}

.selected-portfolio-details {
    padding-right:0px;
    padding-left: 0vw;
}

.selected-portfolio-back-button {
    font-family: 'Roboto';
    font-size:4vw;
    text-align:left;
}

.selected-portfolio-back-button a {
    color: #6ed2ff;
}

.selected-portfolio-back-button a:hover {
    cursor:pointer;
    color: #6ed2ff;
}


@media (max-width: 1320px) {
    #portfolio-frame {
        width: calc(100vw - 20px);
    }

    .selected-portfolio-item {
        width: calc(100vw - 20px);
    }
}



.grayscale {
    -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
}

.grayscale:hover {
  -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
    color: white;
}
