
#testimonials{
    text-align: center;
    text-align: -webkit-center;
}

.testimonial-page-details {
    display: table-cell;
    vertical-align: middle;
    max-width:1150px;
}

.testimonial-header{
    font-family: 'Roboto';
    font-stretch: condensed;   
    margin-bottom: 0px;
    color: #ffffff;
}

.testimonial-page-slogan {
    font-size:5vw;
    text-align: center;
}


.testimonial-block {
    display:flex;
    font-family: 'Roboto';
    font-weight: 300;
}

.testimonial-author p{
    font-family: 'Roboto';
    font-size: 4vw;
    padding-top:1.4vw;
    padding-bottom:0.6vw;
    margin:0px;
    text-align: left;
}

.testimonial-details  p{
    font-size: 3vw;
    line-height: 1;
    text-align: justify;
    padding-top: 0px;
    padding-left: 0px;
}

.testimonial-position {
    text-align: left;
    margin-top:15px;
}

.testimonial-position p {
    font-size: 2vw;
}


.testimonial-image {
    padding:0px;
    text-align: left;
}

.testimonial-image img{
    height:auto;
    width:27vw;
    max-width:350px;
}

.testimonial-data {
    vertical-align:text-top;
    padding-top:14px;
    padding-right:0px;
    padding-left: 2vw;
}

.testimonial-item{
    margin-top: 15px !important;
    max-width:1150px !important;
}

.testimonial-frame {
    height: auto !important;
    max-width: 1150px !important;
}


@media (max-width: 1320px) {
    .testimonial-page-details {
        width: calc(100vw - 200px);
    }
    .testimonial-item {
        width: calc(100vw - 200px) !important;
    }
    .testimonial-frame{
        width: calc(100vw - 200px);
    }
}

