
#testimonials{
    text-align: center;
    text-align: -webkit-center;
    margin-bottom: 3vh;
}

.testimonial-page-details {
    display: table-cell;
    vertical-align: middle;
}

.testimonial-header{
    font-family: 'Roboto';
    font-stretch: condensed;   
    margin-bottom: 0px;
    color: #ffffff;
}

.testimonial-page-slogan {
    font-family: 'RobotoBold';
    font-size:5vw;
    text-align: center;
}


.testimonial-block {
    display:flex;
    font-family: 'Roboto';
    font-weight: 300;
}

.testimonial-author p{
    font-family: 'Roboto';
    font-size: 4.5vw;
    padding-top:1.4vw;
    padding-bottom:0.6vw;
    margin:0px;
    text-align: left;
    color: #ffffff;
}

.testimonial-details  p{
    font-size: 4vw;
    line-height: 1;
    text-align: justify;
    padding-top: 0px;
    padding-left: 0px;
    margin-right: 5vw;
}

.testimonial-image {
    padding:0px;
    text-align: left;
    margin-top: 2.8vw;
    width: 100%;
    max-width: 350px;
}

.testimonial-image img{
    height:auto;
    width: 30vw;
    max-width: 350px;
}

.testimonial-data {
    vertical-align:text-top;
    padding-top:0px;
    padding-right:0px;
    padding-left: 2vw;
}

.testimonial-item{
    margin-top: 15px !important;
    width: calc(100vw - 10px);
}

.testimonial-frame {
    height: auto !important;
    width: calc(100vw - 10px);
}


.partners-header {
    margin-top: 4vh;
}

.partners-frame {
    height: auto !important;
    max-width: calc(100vw - 10px) !important;
}

.partners-item {
    width: calc(100vw - 10px);
}

.partners-item img {
    max-width: calc(100vw - 10px);
    max-height: 100px;
    vertical-align: top;
}

.partners-item p {
    font-size: 36px;
    font-family: 'RobotoBold';
}