
.testimonial-page-details {
    display: table-cell;
    vertical-align: middle;
    max-width:1150px;
}

.testimonial-header{
    font-family: 'Roboto';
    font-stretch: condensed;   
    margin-bottom: 0px;
    color: #ffffff;
}

.testimonial-page-slogan {
    font-size: 27px;
    text-align: center;
}


.testimonial-block {
    display:flex;
    font-family: 'Roboto';
    font-weight: 300;
}

.testimonial-author p{
    font-family: 'Roboto';
    font-size: 22px;
    padding-top: 44px;
    padding-bottom: 20px;
    margin:0px;
    text-align: left;
}

.testimonial-details  p{
    font-size: 24px;
    line-height: 1;
    text-align: justify;
}

.testimonial-position {
    font-size: 14px;
    text-align: left;
    margin-top:15px;
}


.testimonial-image {
    padding:0px;
    text-align: left;
}

.testimonial-data {
    vertical-align:text-top;
    padding-top:14px;
    padding-left:40px;
    padding-right:0px;
}

.testimonial-item{
    margin-top: 15px !important;
    max-width:1150px !important;
}

.testimonial-frame {
    height: auto !important;
    max-width: 1150px !important;
}


@media (max-width: 1320px) {
    .testimonial-page-details {
        width: calc(100vw - 200px);
    }
    .testimonial-item {
        width: calc(100vw - 200px) !important;
    }
    .testimonial-frame{
        width: calc(100vw - 200px);
    }
    .testimonial-page-slogan {
        font-size:5vw;
    }
    .testimonial-author p{
        font-size: 4vw;
        padding-top:1.4vw;
        padding-bottom:0.6vw;
    }
    .testimonial-details p{
        font-size: 3vw;
    }
    .testimonial-position {
        font-size: 2vw;
    }
    .testimonial-image img{
        height:auto;
        width:27vw;
    }
    .testimonial-data {
        padding-top: 0;
        padding-left: 2vw;
    }
    .testimonial-details p{
        padding-top: 0px;
        padding-left: 0px;
    }
}

